[2017-04-26 22:52] dperny commented on #2147
tl;dr: Task is being created and put into an event channel, but no corresponding task manager with that ID exists in the map in the worker of all task managers when we do a lookup. Calling logs on this nonexistent taskmanager, for obvious reasons, fails horribly.

[2017-04-26 23:02] stevvooe commented on #2147
There are two issues:

1. I think the panic is caused by https://github.com/docker/swarmkit/blob/f807c19f9f16183139c05e291d6a8632dd625df2/agent/worker.go#L429. We post an event for a new task manager creation without checking whether or not that will be successful. The event should only be publish once the task is fully created.
2. At https://github.com/docker/swarmkit/blob/f807c19f9f16183139c05e2

[2017-04-26 23:04] nathanleclaire commented on #2147
@dperny In case you didn't know, you can compile go binaries with the `-race` flag that turns on automatic race detection. Then there will be big ugly error messages spit out when a race is detected in the resulting binary. I'd consider starting with fixing all of those in your dupe if you haven't tried that yet.

[2017-04-26 23:10] dperny commented on #2147
@nathanleclaire Part of the problem is I don't have a working duplication. It's only on @vdemeester's laptop.

[2017-04-26 23:11] nathanleclaire commented on #2147
I'm a bit curious why https://github.com/docker/swarmkit/blob/f807c19f9f16183139c05e291d6a8632dd625df2/agent/worker.go#L572 wraps the action in a mutex, but then goes off and spawns a goroutine to do it. There's nothing blocking in the critical section. That strikes me as really odd. @aluzzardi Any idea what's up with that? The code has your name on it.

[2017-04-26 23:12] stevvooe commented on #2147
@dperny Added a third item. I'll send a PR to swarmkit that addresses 1 and 2.

[2017-04-26 23:18] stevvooe commented on #2147
@nathanleclaire @vdemeester probably has some "poison" in the task store that has an old, invalid task with misconfigured bind mounts. These errors are leaking out of resolution (correctish, in this case) and that causes the publish to the taskevents queue for a task manager that was never created.

Anywho, PR incoming.

[2017-04-26 23:20] stevvooe commented on #2147
Related to #1542.

[2017-04-26 23:34] dperny commented on #2147
Applying P0 because this is a literal segfault and we should rightly block release if it doesn't get fixed cc @aluzzardi

[2017-04-26 23:49] aaronlehmann commented on #2143
cc @ijc25

[2017-04-26 23:53] aaronlehmann commented on #2147
@nathanleclaire: It's for the map read.

[2017-04-27 09:02] vdemeester commented on #2147
@stevvooe interesting. I remember having an invalid task with misconfigured bind mounts but it's been a while and the service was removed (maybe it was still *poisonning* the thing but it would be a little bit weird.

[2017-04-27 13:50] sylvainmouquet commented on #1895
+1 `docker service exec`

[2017-04-27 16:39] nathanleclaire commented on #2147
Gotcha. FWIW, might want to consider wrapping the map/locks in a [struct like the pattern described here](https://blog.golang.org/go-maps-in-action#TOC_6.).

[2017-04-27 17:34] #2147 closed

[2017-04-27 20:38] jroberts235 commented on #2030
Well for those who need it now, this is a much simpler solution than LVS, so I wanted to share my solution.

I totally agree that it should be included in swarm.

[2017-04-27 20:43] jroberts235 commented on #2030
BUT - you don't need the complexity of a software load balancer to achieve this.  You just need a heartbeat and the ability to attach/detach an IP, like keepalived does (and does very well).

[2017-04-28 08:34] mostolog commented on #2030
@jroberts235 keepalived is based on IPVS.(=VIP=LVS)
In essence, I was asking to include that to enable docker-host to docker-host self configuration.

[2017-05-01 01:48] pnickolov commented on #1895
+1 docker service exec
Not sure if this is one or two different features: one is to be able to run the command on a specific task; the other one is to run it on all tasks of a service. Having at least the first one will be great!

[2017-05-01 18:58] stevvooe commented on #1077
This is not true. The limitation is that you can only run 1 replica per host that uses a specific port. If you don't specify a publish port, this limitation is lifted, as an ephemeral port will be allocated. The in use ports can be introspected via the API.

The documentation is correct:

Although, this portion is a little incorrect:

The ports in use will be available via the API and can be added

[2017-05-02 14:36] WillNye opened #2160 "Windows container unable to ping Ubuntu Container"
# We are trying to create a docker swarm that has a ASP.NET Docker service running on a Windows docker containers that is served via an Nginx service running on an Ubuntu docker-machine.
The problem is the Windows container is not properly responding to other services in the swarm. We have Django apps using the same Nginx service which are running great but the ASP.NET app is timing out.
We went i

[2017-05-02 20:57] nicolaka opened #2162 "topology aware scheduling doesn't work when scaling up"
It seems like topology aware scheduling doesn't properly schedule tasks evenly when scaling up. Take this example: I'm running a service with two placement options "region" and "zone". I have 2 regions, one with 3 zones and the other with 2 zones ( total is 5 zones) . When I launch the service with 3 replicas it works fine, but when i try to scale to 5, one of the regions gets two tasks instead of

[2017-05-02 21:19] aaronlehmann commented on #2162
Thanks for the report @nicolaka. Can you please update it with the version you're using?

[2017-05-02 21:40] aaronlehmann commented on #2162
Also, can you please include `docker node inspect` output for each node?

[2017-05-02 22:03] mavenugo commented on #2160
@WillNye swarm-mode on Windows doesn't support VIP based load-balancing. Can you try creating the service using `--endpoint-mode=dns-rr` ?
This will create the service with load-balancing done using DNS-RR.

Also, swarm-mode on Windows doesnt support Routing-mesh. You can instead publish the port using `-p mode=host,target=x,published=y`.

[2017-05-02 23:20] nicolaka commented on #2162
Here's the info:

[code]

and for node inspect:
[code]

[2017-05-03 00:38] aaronlehmann commented on #2162
I think I understand what's going on. You have two placement preferences specified: one for region, then another for zone. This tells the scheduler to that its first priority should be getting an even split between regions, and then within regions, tasks should be divided evenly between nodes in different zones.

There seem to be 2 different values for the region label:

[code]

so we'd expect tas

[2017-05-03 17:38] nicolaka commented on #2162
@aaronlehmann there are nodes labeled with `zone=a` I just listed the nodes that this services was running on.

What's interesting is if I just the services with replicas=5, then it will spread them across the 5 zones. But that is now what I get when i launch with 3 replicas then scale to 5. Not sure if this is by design.

[2017-05-03 18:51] aaronlehmann commented on #2162
If it's possible to add `node inspect` output for every node, I can take a look and see if the behavior is consistent with the design.

There is some randomness involved - for example when 5 tasks across two regions, one of the regions will get 2 tasks and the other will get 3. It may be that when you ran `service create` you got an outcome that happened to be what you wanted, but when you scaled

[2017-05-05 18:29] cpuguy83 opened #2168 "Storage orchestration"
Today swarmkit supports persistent storage via  the `Mounts` API. This enables users to either pre-create some bit of storage and then mount it into the service, or have the service create the storage on the node when the task is scheduled (when provided the correct options).

As part of the Docker 1.13 release, support for templating was added which can kinda-sorta make  a service orchestrate thi

[2017-05-05 18:38] GabKlein opened #2169 "Support for docker stack run is missing"
Just like a `docker-compose run <service> rake db:migrate` with the whole environment, dependencies and services started (postgres, redis, etc...), it would be very use full to run a container within a deployed stack `docker stack run <stack_name> <service> rake db:migrate`

The workaround would be to ssh the correct node and to run an `docker exec` on the right container. This is not friendly and

[2017-05-06 08:29] sulphur commented on #989
+1

[2017-05-06 10:50] #2169 closed

[2017-05-07 05:14] better88 commented on #989
+1

[2017-05-09 16:31] LukeusMaximus opened #2173 "Feature request: please add support for the "init" keyword in v3 compose files"
See https://github.com/docker/cli/issues/51

[2017-05-10 11:02] buddyspike opened #2174 "API to perform incremental scaling"
I'm looking at a simple solution to auto scale swarm services based on their respective stats stream. This seems trivial until to the point that you need to tell swarm to scale up your service. Current ```docker service scale service-a=x``` command require you to provide the desired number of instances. This would mean that, utility issuing this command would have to keep track of cluster state. S

[2017-05-10 11:54] thaJeztah commented on #2174
related issue https://github.com/moby/moby/issues/32054

[2017-05-12 08:18] waltherg commented on #1030
@mikeytag @RRAlex I hit the same limitation when attempting to implement the exact same scenario that @mikeytag described (OpenVPN server in overlay network to access ports I do not want to open up to the world).

I attempted testing the `--attachable` network variant but got an error I can't make sense of:

[code]

For the `docker run` invocation I get the following error message:

[code]

The Op

[2017-05-12 10:23] waltherg commented on #1030
@mikeytag does the sshuttle approach you describe work without `--cap-add NET_ADMIN`? Do you start the sshuttle container through `docker service` and host constraint or regularly with `docker run` and `--network NAME_OF_YOUR_SWARM_OVERLAY_NETWORK`?

[2017-05-12 18:38] aluzzardi opened #2179 "metrics: Add a leader gauge"
Related to #2157

We should have a metric such as `swarm_manager_is_leader` (or perhaps `swarm_node_is_leader` since we have `swarm_node_is_manager` ... I think the former makes more sense though).

/cc @aaronlehmann @stevvooe @rogaha

[2017-05-12 18:53] rogaha commented on #2179
@aluzzardi I agree. In the `swarmkit` context, being a node `leader` has a prerequisite of being a `manager`, so having `swarm_manager_is_leader` label makes more sense to me (it's a `sub-category` of the `swarm_manager` metrics) .

[2017-05-12 23:18] aaronlehmann opened #2182 "Flaky test: TestManagerLockUnlock"
https://circleci.com/gh/docker/swarmkit/7215

[code]

cc @cyli

[2017-05-12 23:23] cyli commented on #2182
Huh, the:

[code]

right after the test is weird too

[2017-05-15 05:21] mikeytag commented on #1030
@waltherg when I was using sshuttle I was deploying the "vpn" container via stacks but making sure that it was deployed to a specific machine and exposing the port 2222 so the container SSH could respond to the outside world.

I got the OpenVPN setup working too using --attachable. Here's the run command that I use. Maybe there's something in here that's valuable to you or others.

[code]

[2017-05-15 17:51] WillNye commented on #2160
@mavenugo
Sorry for the delay in response. I did try to do as you are suggesting and outlined on https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/swarm-mode but with no success. I've also tried several variations as mentioned in the comments with the link above.
Such as
`docker service create --name test_asp --constraint node.platform.os==windows --detach=false -

[2017-05-16 01:46] dongluochen opened #2184 "dispatcher processUpdatesLock may not unlock properly"
In `Dispatcher.markNodeReady`, if `ctx.Done()` is triggered, `Unlock` is not called, leading to potential deadlock.

https://github.com/docker/swarmkit/blob/master/manager/dispatcher/dispatcher.go#L429
[code]

[2017-05-16 17:30] #2184 closed

[2017-05-16 18:44] aluzzardi opened #2187 "Exponential backoff for task restarts"
/cc @aaronlehmann

[2017-05-16 21:54] cyli opened #2189 "Validate external CA URLs when creating a cluster for the first time"
We validate that the external URLs are reachable and have an HTTPS scheme on updating the cluster, but not when initializing a cluster with external URLs.  See https://github.com/moby/moby/issues/33216

[2017-05-17 14:15] oskca commented on #1501
It's sad to see this issue closed!

K8s is good which support batch jobs, but it's really hard to get installed, and the docker-mode is great to bring a native and easy to use cluster to the general public.

While batch job is another general computation model compared to the long running services, it's needed for some amazing project,ie [Pachyderm](https://github.com/pachyderm/pachyderm/issues/92

[2017-05-17 16:36] pnickolov commented on #1895
I would love to see this working, especially now that 17.05.0-ce has `service logs` (I also think service signal, pause/unpause and top may provide a good closure, too).

In the meantime, check out this [swarm-exec tool](https://github.com/datagridsys/skopos-plugin-swarm-exec) on github or use the ready container.

Essentially, it provides the equivalent of the desired `docker service exec <task>

[2017-05-18 10:28] kaikuchn commented on #491
@dongluochen you said that task events will not be supported for the first iteration, instead this will be reported at the service level. Does that mean that I will be able to know during a rolling update when a task was successfully started?

I.e, when I do a rolling update with 10s delay, could I execute some script - by watching the event stream - right after one task was updated?

[2017-05-18 18:17] dongluochen commented on #491
@kaikuchn The event support is merged https://github.com/moby/moby/pull/32421. We don't support task monitoring in this first iteration. Instead you can get events on service `updatestate`.

[code]

User might still want to get update on each task. We will investigate. There will be a lot of task events overwhelming other events. I'm thinking make it a daemon option so users can enable it if they

[2017-05-18 18:20] aaronlehmann commented on #2143
Note that `portsAllocatedInHostPublishMode` was renamed to `hostPublishPortsNeedUpdate`.

[2017-05-18 18:29] mostolog commented on #1951
any news?

[2017-05-18 23:51] aaronlehmann commented on #2162
@nicolaka: Does this still look like a bug? Are you able to provide `node inspect` output for every node?

[2017-05-19 13:52] Kent-H commented on #2162
@aaronlehmann, assuming your original understanding is correct, this should probably still be considered a bug.

This split-on-first-placement-pref _then_ split-on-second-placement-pref seems like a faulty design.  The scheduler should consider all nodes & all rules at once.

For example, the scheduler should be smart enough to determine that placing one more task in `us-west-2` is better (satisfi

[2017-05-19 17:38] aaronlehmann commented on #2162
@Kent-H: I suppose that when the number of tasks does not split evenly, we could favor branches of the tree with the most nodes underneath them, instead of choosing arbitrary branches for the remaining tasks.

[2017-05-19 23:06] dperny opened #2196 "Promoting 2 nodes in short succession sometimes leave one node unreachable"
In the course of writing some end to end tests for docker, I've found that sometimes promoting 2 nodes in short succession sometimes fails. One of the promoted nodes ends up in "Unreachable" state and has to be removed from the cluster and rejoined.

The failure is intermittent.  It does not happen every time. The failure *may or may not* be related to previous promote/demote cycles failing silent

[2017-05-19 23:09] dperny commented on #2196
Also noteworthy, the node object's `MangerStatus` is equal to `nil` at this point in the test, and we get "node 0d1lke3s3zbwnaopuqqhdlull is not a manager" as the error.

[code]

[2017-05-19 23:09] dperny commented on #2196
whoops i accidentally the issue for sec there.

[2017-05-20 00:02] aaronlehmann commented on #2196
Can you please provide logs associated with this?

Does it remain unreachable indefinitely?

You may just need to wait for convergence here. A node doesn't become a manager instantly, but a few steps need to happen behind the scenes first.

[2017-05-20 01:09] dperny commented on #2196
This is @sanimej cluster, so I can't get them. I can say that when I encountered this issue, nothing egregiously stood out in the logs. No obvious errors.

Yes, and it also no longer responds to promote/demote instructions.

I've elided the specifics, but that code is polled in a loop and only returns an error if it hasn't converged to be error-free by the end of a time out.

[2017-05-20 01:11] dperny commented on #2196
Also relevant: when I encountered this error, the node in question did refused to execute swarm commands, saying it was not a manager, instead of timing out like I would expect an errant manager to do.

[2017-05-20 01:22] aaronlehmann commented on #2196
I don't understand how this would happen if `node ls` shows "unreachable". The "reachability" field is inside `ManagerStatus`. The CLI shouldn't print anything there if `ManagerStatus` is nil.

[2017-05-20 01:29] dperny commented on #2196
Manager status likely converges to "unreachable" some time after the test
times out.

On May 19, 2017 6:22 PM, "Aaron Lehmann" <notifications@github.com> wrote:

[2017-05-20 06:05] sanimej commented on #2196
@aaronlehmann I didn't save the logs. But the node was permanently stuck in `unreachable` state and a force leave didn't work either. I think it should happen if the e2e test suite is run in a loop. If it happens again I will save the debugs. Do you need any other info from the cluster when its in this state ?

[2017-05-22 15:15] umayr opened #2197 "Unable to build binaries on Mac OSX"
I'm trying to build swarmkit on Mac OSX 10.11.1 with go version `go version go1.8.1 darwin/amd64`, I have `protoc` installed and go environment set up. While I try to make binaries, it gets stuck.

[code]

With `make build` command, it gets stuck at `github.com/docker/swarmkit/protobuf/plugin/raftproxy/test` package.

[code]
Moreover, I tried to build under a docker container, it works perfectly f

[2017-05-22 17:15] aaronlehmann commented on #2196
A stack trace from the affected node may also be helpful.

[2017-05-22 17:22] aaronlehmann commented on #2197
I cannot reproduce that on a Mac with the same version of Go. Since these targets are just invoking the Go compiler, it seems more likely to be an issue with Go or the Go installation than with swarmkit itself.

[2017-05-23 20:43] aaronlehmann opened #2200 "Flaky test: TestCertRenewals"
https://circleci.com/gh/docker/swarmkit/7274

[code]

cc @cyli

[2017-05-23 23:13] aaronlehmann commented on #2200
I also got this one, running locally, in a run where `TestCertRenewals` also failed:

[code]

[2017-05-23 23:14] aaronlehmann commented on #2200
Some context in case it's helpful:

[code]

[2017-05-23 23:19] aaronlehmann commented on #2200
Never mind - this looks like something I broke.

[2017-05-23 23:19] #2200 closed

[2017-05-24 10:13] vide opened #2201 "Cannot connect to my program TCP port running in a container"
Hello

This happens only with containers deployed with SwarmKit and the problem is triggered randomly but then it's consistent in the node that's happening until I reboot the host machine. Restarting docker daemon doesn't solve it, so I guess that maybe it's something related to the host OS, but I cannot see any indication/logs (both from dockerd or `dmesg`) that can point me to the root problem.

[2017-05-24 13:43] yastij commented on #301
any news on this one ?

[2017-05-24 21:23] krasi-georgiev opened #2204 "Consecutively Service task scheduling mode"
I opened the issue with docker, but it seems that  this a better place for this reques?
https://github.com/moby/moby/issues/30194

it is similar to `docker service update --update-parallelism=1` for task creation
`docker service create --parallelism=1`
this is a blocker for refactoring mysql auto scaling without using any additional

[2017-05-25 19:08] aaronlehmann commented on #2196
@dperny @sanimej: When you have time, I'd definitely appreciate more information to help track this down.

[2017-05-25 20:27] stychos commented on #2201
I have another mystery:
- container are "visible" inside the overlay network to other containers (it's pinging),
- container's services is accessible from machine on which it's running,
- inaccessible from the other swarm members.

Reboot solves troubles for a while.

[2017-05-26 17:24] benturner commented on #1242
Hi @stevvooe, is there any progress here? It seems like other attempts aimed at simple addressing for `{{.Task.Slot}}.{{.Service.Name}}` within swarm have been abandoned while waiting for this... Is there any way to resurrect https://github.com/moby/moby/pull/24973 to alleviate the problem in the short term in a way that would be compatible with your future work here ?

[2017-05-30 12:21] datacarl commented on #491
@dongluochen I was hoping to use the events to update a load balancer's configuration of available servers. E.g. if a container is rescheduled for any reason I'd like to get an event for it so I can update the LB with the new IP/DNS to the container. Will that be possible after this update is shipped?

[2017-05-30 13:08] alexellis commented on #491
I would say task-level events are important for any kind of dynamic or serverless platform too. +1 for task-level events.

[2017-05-30 17:15] dongluochen commented on #491
The current plan is to add an option to enable task level events. There are several issues related to functionality and scalability.
1. Swarm events are merged with Docker events with a limited buffer with current setting of 256. This may need to be configurable if task events are enabled. `--since, --until` is done thru linear search, a large buffer may increase response time.
2. Task state is a

[2017-05-30 19:10] kaikuchn commented on #491
For my use case there's two task states I'm interested in:

1.  `shutdown` - I'd like to know when a task has disappeared so I can unregister it inside another service since it cannot handle requests any longer
2. `running` - I'd like to know when a task is up and ready to accept work, so I can register it

A little background on my use case: I'm running CitusDB, which is in essence a distributed

[2017-05-30 20:55] dongluochen commented on #491
@kaikuchn Thanks for providing your use case. Task level events should meet your requirement. It just carries a lot of unrelated events.

A task status beyond `RUNNING` should be treated as service instance termination  https://github.com/docker/swarmkit/blob/master/api/types.proto#L428.

[2017-05-31 16:23] mark-church opened #2207 "Support Swarm templating for driver-opt"
https://github.com/docker/cli/pull/62 introduced the capability to pass in `driver-opt` to services so that network driver specific options can be sent in per service. Swarm templating on this parameter would be very useful for a variety of scenarios that need to send task or service-specific information to a network driver.

A similar request was also requested by https://github.com/moby/moby/iss

[2017-05-31 17:22] thaJeztah opened #2208 "Improve "state.transition" log messages as they are ambiguous"
SwarmKit logs messages about state change of tasks, but those messages are ambiguous; while looking at this issue; https://github.com/moby/moby/issues/33449, I noticed that these messages can be interpreted as either;

- SwarmKit changed the _desired_ state of the task (e.g. from `RUNNING` to `SHUTDOWN` because the task should be terminated)
- SwarmKit _detected_ that the state of the task changed

[2017-06-01 20:17] EliRibble commented on #2201
I've essentially reproduced this, but a restart doesn't seem to help me at all. I start up a 3-node swarm with a single master. I then create two services, one on the master and one on a worker node. Both services share a swarm overlay network, and in fact name resolution is working correctly. From within the services I can ping to the other service in both directions. However, I can't actually tr

[2017-06-01 20:25] EliRibble commented on #2201
UDP doesn't appear to work either

[2017-06-01 20:28] EliRibble commented on #2201
I found this in the syslog. It may or may not be pertinent. I'm looking in to it
[code]

[2017-06-01 20:48] EliRibble commented on #2201
Ah, I figured it out. It's the --encrypt option when creating my network. If I include the option I can't transmit any data between service containers. If I don't include the option everything works fine.

[2017-06-05 10:19] csfsss opened #2214 "Service Scale rapidly changes many times and lots of container were in Created status."
A 2 nodes cluster.
The docker version is

```17.03.1-ce```

The service is

[code]

then change the scale of the service rapidly,  the scale number is random between 100 and 200.
use
[code]
thousands of containers ware:
[code]
The slot number is in 1~199

and I'v checked the containers in the same slot and their service ID are the same .

[2017-06-05 16:51] dperny commented on #2214
I've also see a case in tests where immediately removing a service that has just been created leaves containers in the "Created" state.

[2017-06-05 18:33] aaronlehmann opened #2216 "Consider changing Watch to run a callback function"
Currently, it is the caller's responsibility to call the `cancel` function returned by `Watch`. If it is not called, there will be disastrous consequences.

We foresaw a similar problem with the need to release transactions, and designed the transactional methods on the store to run closures instead of requring an explicit release from the caller. A similar approach might make sense with watches.

[2017-06-05 19:54] cjbearman commented on #1951
I'd like to add a +1 to this feature request.

The ability to have a template value that equates to the node's hostname would be extremely useful for scenarios involving monitoring. One specific use case that I have encountered is that I am using Google cAdvisor to capture usage stats as a global service within my swarm. The data is then sent to Influx and visualized using Grafana as described [he

[2017-06-06 09:36] sadok-f commented on #1951
+1

[2017-06-06 09:48] ijc opened #2219 "containerd executor should be smarter about containerd events subscription"
The containerd executor added in #1965 currently starts a containerd event stream for every task. These event streams contain events for all containers which containerd is managing. We should either:
* Make use of server side filtering in containerd (not yet implemented) to request a per-task stream which only contains events relevant to the task.
* Setup a singleton event stream on the client sid

[2017-06-07 15:38] ijc25 opened #2221 "Flakiness in github.com/docker/swarmkit/ca_test.TestRequestAndSaveNewCertificatesWithIntermediates"
This test seems to timeout after 600s about 10-20% of the time in my testing:
[code]

I noticed this because I updated gRPC from v1.0.4 to v1.3.0 and the failure rate jumped to ~50% (which might provide an avenue to easier reproduction).

The failure only seems to occur with a full `make test`. I haven't been able to reproduce with `go test github.com/docker/swarmkit/ca` (with and without `-race`)

[2017-06-07 15:45] ijc25 commented on #2221
I pushed my gRPC update to https://github.com/ijc25/swarmkit/tree/tickle-2221 might be useful since it makes it fail much more often (assuming it isn't adding some second failure mode). NB that branch also reduces the timeout from 600s to 60s since it was too boring waiting for it to fail, I think that is still more than long enough not to give false negatives.

[2017-06-07 16:27] ijc25 commented on #2221
Looks like this stops it happening:
[code]
Not a fix of course!

Separately I see these in the logs right before the failure, hard to say if they are related due to the parallelism and multiple tests though:
[code]
I wondered (as a complete wild guess) if maybe the "node not found" was due to cross talk between tests?

[2017-06-07 22:10] #2138 closed

[2017-06-08 01:55] cyli commented on #1990
Closing this out as the basic feature is in.

[2017-06-08 01:55] #1990 closed

[2017-06-08 02:03] cyli commented on #625
Can this issue be closed?

I think https://github.com/docker/swarmkit/pull/2066 removed the last usage of that library, and
https://github.com/docker/swarmkit/pull/2107 removed the vendor completely.

[2017-06-08 10:42] ijc opened #2225 "Flakey test TestAgentRegistersSessionsWithSessionTracker"
In testing of #2221/#2224 I saw this twice, once with master (out of 20 iterations, labelled `before` in the attached logs) and once more with the fix from #2224 + my grpc update applied (again out of 20 iterations, labelled `fix` in the attached logs). So this is a quite low rate of flakiness.

In both cases the fail was:
[code]

Logs:

* [test-before.18.log](https://github.com/docker/swarmkit/fi

[2017-06-08 10:48] ijc25 commented on #2137
I saw this a bunch of times when testing #2221/#2224. Twice on master (out of 20 iterations, labelled `before` in the logs below), once with the fix for #2224 and an updated grpc (out of 20 iterations, labelled `fix` in the logs below) and three times with #2222+#2223+#2224 and an updated grpc (out of 20 iterations, labelled `fix+` in the logs below).

In every case the failure was preceded by at

[2017-06-08 10:56] ijc25 opened #2226 "Possibly flakey test(s) github.com/docker/swarmkit/manager/state/raft"
While testing #2221/#2224 I saw this exactly once, out of 20 iterations, when running with #2221 and an updated grpc. I did not see it when testing master (20 times) or in #2222+#2223+#2224+updated grpc (20 times).

The first failure was `TestRaftRestartClusterStaggered` followed by (perhaps a cascading failure) `TestGCWAL`, `TestRaftRestartClusterSimultaneously` then `TestRaftEncryptionKeyRotatio

[2017-06-08 12:46] mostolog opened #2227 "Support variable/placeholder interpolation for any property"
Very similar to what's requested in:

- https://github.com/moby/moby/issues/30966
- https://github.com/docker/swarmkit/issues/1951
- https://github.com/moby/moby/issues/32561

And related to what's described in https://docs.docker.com/engine/admin/logging/log_tags/

It would be great being able to use {{.Service.Name}}, {{.Task.Slot}} or **ANY** other placeholder for syslog tag or **ANY** property

[2017-06-08 13:15] cpuguy83 opened #2228 "Global services are (seemingly) using node weighting"
While testing out some functionality for global mode services I was purposefully causing errors on a node triggering swarmkit to generate new tasks to fix the issue.
In doing so after a few purposefully triggered errors I saw this in the logs:

Not being particularly familiar with the swarmkit codebase I'm not sure if this is actually having any effect other than generating some extra data on a no

[2017-06-08 17:48] dperny commented on #625
SGTM

[2017-06-08 17:48] #625 closed

[2017-06-08 18:05] cyli opened #2230 "Maybe nil pointer in network allocator"
I saw this exactly once in docker logs on a build of moby/moby master (so it was probably using swarmkit version eb07af52aa2216100cff1ad0b13df48daa8914bf):

[code]

Maybe in:
[code]

either `netCtx` or `nwkAllocator` may be`nil`?

[2017-06-08 20:23] aaronlehmann commented on #2226
I'm wondering if this is reliably connected to #2221/#2224. The `wal: sync duration` log messages suggest that the system is taking a very long time to fsync, which can cause failures. We see this in CI sometimes (I believe it uses networked storage). Any idea if the system might have been under I/O load at that time?

[2017-06-08 20:42] aaronlehmann commented on #2230
Looks like `a` is nil in this case. You can tell because the first parameter in the stack trace is 0x0.

I notice that controlapi's `NewServer` method takes an `Allocator` parameter, but doesn't seem to do anything with it:

[code]

I think that is the source of the problem. However, I do not think that filling in the `a` field in the structure would fix the problem. `controlapi.NewServer` appears

[2017-06-08 21:36] cyli commented on #2230
TIL.  :)  Cool, thanks!  That should help in the future.

[2017-06-08 21:46] #2221 closed

[2017-06-08 22:25] aaronlehmann commented on #2228
The warning is harmless but I agree it's confusing.

I'll open a PR to disable this code path for global services. Generally the scheduler is not supposed to pay attention to the service mode, as that is an orchestrator concern, but in this case I think it's worth making an exception because the warning is misleading when a global service is involved.

[2017-06-09 09:12] ijc25 commented on #2230
I added a check to `NewServer` and it is indeed getting passed `nil` as the allocator.

I'm a bit perplexed as to how this ever works, this code path is on every network creation where the ipam plugin type is anything other than `ipamapi.PluginEndpointType`.

Investigating now.

FWIW fb74191488a7b37c364f528799c390e4c3a35d7e is likely the commit which introduced this.

[2017-06-09 09:20] ijc25 commented on #2226
I didn't mean to suggest this was related to #2221/#2224, sorry, was just trying to give context for what code I was running when I saw it vs when I didn't. I expect this is just a 1/60 failure rate.

It's my development laptop (a 4th gen Carbon X1 with an SSD) and I did leave those tests running while I did other stuff (because 20x iterations takes quite a long time). I was quite likely starting

[2017-06-09 10:38] ijc commented on #2230
My local tree now has a test case for this. I will work on making it pass.

[2017-06-09 13:26] ijc commented on #2230
I proposed what I hope is a temporary fix in #2231, but I'm not too happy with it.

Looking at this stuff afresh today I am not sure that it is at all reasonable that the `controlapi.Server` needs to be aware of the network allocator which is in use.

To recap the call chain is:
[code]

Which if `*Allocator` is non-`nil` should end up calling:
[code]
(or in the future a cni alternative).

In the C

[2017-06-09 14:21] ijc commented on #2230
I'm also starting to question why the allocator is responsible for the set of available drivers. I'm wondering if perhaps something like this might make sense:
[code]
the use of `Allocator()` would be in `Allocator.doNetworkInit` to encapsulate the existing `cnmallocator.New()`, while `BuiltinDrivers()` would be used to populate something that `validateDriver` could use perhaps.

[2017-06-09 14:32] ijc commented on #2230
Or perhaps rather than `BuiltinDrivers` the existing `validateDriver` ought to be pushed down to a method on that interface. The reality is that it is only used for network drivers today and it already hardcodes some network-isms in the use of `ipamapi.PluginEndpointType` (and the missing `driverapi.NetworkPluginEndpointType` which I think ought to be there too).

Or going a step further, perhaps

[2017-06-12 14:19] #2230 closed

[2017-06-12 18:37] aaronlehmann opened #2241 "Raft lock held while saving root CA"
I noticed this code:

[code]

`s.UpdateRootCA` does some file I/O when it saves the root CA cert. It also acquires another lock.

`ViewAndWatch` holds the raft lock to give a strong consistency guarantee that the caller won't receive events whose effects were already visible in the `View` portion, but I'm not sure this code needs this guarantee.

cc @cyli

[2017-06-12 21:45] cyli commented on #2241
@aaronlehmann That's true - it only needs to read, not update the cluster.  I plan on removing `s.UpdateRootCA` from the manager code when I split up the CA signer from the TLS creds the manager uses serve and connect via GRPC anyway, I'll make sure the CA updating code does not hold the lock the entire time.

[2017-06-12 21:56] aaronlehmann opened #2242 "Updater and restart supervisor can fight each other"
1. Suppose the update order is set to "start, then stop", and restart condition is set to "always". A change to the service starts a rolling update. During this rolling update, one of the existing tasks fails, and gets restarted. When the updater gets to this task, it won't be able to shut down the "old" task, because it was already restarted, but it will have already started a replacement task by

[2017-06-12 23:59] benturner commented on #2207
@stevvooe @mark-church, I'm interested in tackling this, can you guys point me in the right direction?

[2017-06-13 00:12] aaronlehmann commented on #2137
The test is occasionally exposing a race condition. A task failure separately triggers the update rollback and makes the orchestrator change the desired state of the task to "shutdown". Generally the desired state change happens first, but if the failure happens very soon after the task was started, it's possible for the rollback to begin first. In this case, the rollback process will try to shut

[2017-06-13 00:19] aaronlehmann commented on #2137
(Note that this test sets the restart condition to "none", otherwise the orchestrator would restart the failed task, and we'd still have the expected number of replicas.)

[2017-06-13 00:35] aaronlehmann commented on #2242
This is mitigated in practice because the update finishing triggers a fresh service reconciliation, which will fix any missing or extra tasks. The reason `TestUpdaterRollbackAndPauseNoMonitor` triggered the problem is that it doesn't wait long enough for the update to be declared complete. I am going to skip this test until the underlying problem is solved.

[2017-06-13 00:51] aaronlehmann commented on #2242
Marking as low priority, because the second reconciliation pass should prevent this from being a real problem.

[2017-06-13 20:46] stevvooe commented on #2207
@benturner Template expansion code is in https://github.com/docker/swarmkit/blob/master/template/expand.go#L16. Right now, we do it for the mounts fields and the env field. Just need to have this cover the networking fields.

[2017-06-13 22:39] #2137 closed

[2017-06-13 22:52] benturner opened #2249 "Add template support for network aliases"
This is at least a piece of #2207...

[2017-06-13 23:28] #2228 closed

[2017-06-14 00:46] #2225 closed

[2017-06-15 09:19] ijc opened #2258 "implement health checks for containerd executor."
See https://github.com/docker/swarmkit/pull/1965#discussion_r118313483

[2017-06-15 09:19] ijc opened #2259 "integration tests for containerd executor."
We should have some, somewhere, somehow. ref https://github.com/docker/swarmkit/pull/1965#issuecomment-308521571 onwards.

[2017-06-15 17:43] #2208 closed

[2017-06-16 00:01] Syntaxide commented on #2182
@aaronlehmann How often do you see this failure? There doesn't seem to be a good way to search for this on circleci.

[2017-06-16 00:04] aaronlehmann commented on #2182
I don't recall seeing this since the original report.

[2017-06-16 00:13] aaronlehmann commented on #2226
CI now uses tmpfs for these files, so this shouldn't happen in actual CI runs.

[2017-06-16 00:14] aaronlehmann commented on #2196
@dperny: Are you still seeing this?

[2017-06-16 00:15] #2197 closed

[2017-06-16 00:17] aaronlehmann commented on #2135
Please reopen if this shows up with a current version.

[2017-06-16 00:17] #2135 closed

[2017-06-16 00:18] #1771 closed

[2017-06-16 00:30] aaronlehmann commented on #1611
Confirmed this doesn't happen anymore

[2017-06-16 00:30] #1611 closed

[2017-06-16 00:31] #1462 closed

[2017-06-16 00:33] aaronlehmann commented on #1381
This is very old and there isn't a followup, so I'll close it.

[2017-06-16 00:33] #1381 closed

[2017-06-16 00:38] aaronlehmann commented on #1354
I don't think this is an issue anymore. The code this was filed against and the code that replaced it have long since been removed. The current raft proxy waits for a leader to be elected, up to a time limit, and returns a loss of quorum error after that.

[2017-06-16 00:38] #1354 closed

[2017-06-16 00:39] aaronlehmann commented on #1351
I think the question has been answered, so I'll close this issue.

[2017-06-16 00:39] #1351 closed

[2017-06-16 00:42] aaronlehmann commented on #1245
I don't think this still applies. The default setting of `Monitor` is 5 seconds now. If you have a single replica, do an update with the failure action set to "pause", and the new task fails within 5 seconds, you'll see the update go to a paused state.

@aluzzardi: OK to close it?

[2017-06-16 00:56] aaronlehmann commented on #1360
I don't see any changes in the code that would prevent this from happening, but I don't remember this failing on arm recently. I recently ran the integration tests many times on arm to track down a different issue. I wonder if something has changed, or if this only happens very rarely.

[2017-06-16 01:00] aaronlehmann commented on #1222
The first message was suppressed in #1515.

The second and third messages were changed to debug logs in #2175.

Closing.

[2017-06-16 01:00] #1222 closed

[2017-06-16 01:01] cyli commented on #2182
I haven't seen this in a while, and I haven't been able to replicate it easily (I've been running the test over and over in a container somewhere, and can continue to do so until it triggers, but it hasn't yet)

[2017-06-16 01:10] aaronlehmann commented on #1201
Can this be closed in favor of #2187, which I think is the same thing but a little more focused?

[2017-06-16 01:11] aaronlehmann commented on #1157
We have root CA rotation now, which supports switching between internal and external CAs as well. Closing.

[2017-06-16 01:11] #1157 closed

[2017-06-16 01:12] aaronlehmann commented on #1105
Since swarmctl is a debugging tool, we aren't going to invest in improving its UX.

[2017-06-16 01:12] #1105 closed

[2017-06-16 01:12] aaronlehmann commented on #1096
Since swarmctl is a debugging tool, we aren't going to invest in improving its UX.

[2017-06-16 01:12] #1096 closed

[2017-06-16 01:14] aaronlehmann commented on #1090
This should no longer be an issue now that demotes are reconciled. The `node demote` command now just changes the `DesiredRole` field, and the node actually gets demoted by a control loop if/when it's safe to do so.

[2017-06-16 01:14] #1090 closed

[2017-06-16 01:21] aaronlehmann commented on #1262
Tasks get deleted on scale down as of #1574.

[2017-06-16 01:21] #1262 closed

[2017-06-16 01:30] aaronlehmann commented on #675
I'll take the liberty of closing this. The code in question is covered by several tests now:

- `TestManagerUpdatesSecurityConfig`
- `TestManagerEncryptsDecryptsRootKeyMaterial`
- `TestSecurityConfigUpdateRootCA`
- `TestSecurityConfigUpdateRootCAUpdateConsistentWithTLSCertificates`

(thanks @cyli!)

[2017-06-16 01:30] #675 closed

[2017-06-16 01:31] aaronlehmann commented on #642
Related to #2198.

[2017-06-16 01:32] aaronlehmann commented on #609
This is covered by `TestManager`.

[code]

Closing.

[2017-06-16 01:32] #609 closed

[2017-06-16 01:35] aaronlehmann commented on #608
@diogomonica: I think this can be closed.

There is already a check in `TestManager` that a `Join` request with no client certificate fails:

[code]

Since the certificate checks are autogenerated from annotations in the `.proto` files, I don't think we need handwritten tests for each RPC.

[2017-06-16 01:36] aaronlehmann commented on #594
Implemented in #2090.

[2017-06-16 01:36] #594 closed

[2017-06-16 01:38] aaronlehmann commented on #251
Closing in favor of duplicate #1896.

[2017-06-16 01:38] #251 closed

[2017-06-16 01:38] aaronlehmann commented on #491
Implemented in #2034.

[2017-06-16 01:38] #491 closed

[2017-06-16 02:33] bmitch3020 commented on #1201
#2187 looks like it's only a title without any content identifying the issue (unless I'm missing something). One key point made here is from [stevvooe's comment about two separate requirements](https://github.com/docker/swarmkit/issues/1201#issuecomment-249714127) which if we switch over to the other issue I'd worry could result in only solving one scenario. And there's also value in the circuit b

[2017-06-16 04:33] sungwonh opened #2264 "Deterministic task termination order when scaling down"
The order of task termination when scaling down is determined by the go's `map` iteration order when all other things (node balance and running state) are equal. For example, when all the nodes are running only a task of a service and states of all the tasks are equal to running, tasks are removed by the `map` iteration order, i.e., randomly.

If the replicated orchestrator scales down a service b

[2017-06-20 23:28] FrenchBen opened #2272 "Consistent detach behavior via the docker cli"
When creating/updating a service, the following warning is shown:
[code]

However the CLI parsing experience is inconsistent.
[code]
Meanwhile using `=` works:
[code]

The `replicas` flag however will work as expected with both `--replicas 2` and `--replicas=2`

[2017-06-20 23:31] aaronlehmann commented on #2272
This is the way boolean flags work in Go. It's because the truth value is optional. `--detach false` is interpreted as `--detach=true false`. Other boolean flags in Docker behave the same way.

I'm going to close this because it belongs in the `docker/cli` repository. Feel free to reopen there, but I'm not sure there will be any satisfactory solution.

[2017-06-20 23:31] #2272 closed

[2017-06-20 23:38] aaronlehmann commented on #2272
For reference, see https://golang.org/pkg/flag/

[2017-06-20 23:45] fcrisciani opened #2273 "Container left in Created state"
Steps to reproduce:
Run this script a couple of times:
[code]
Results:
[code]
These containers are never deleted

[2017-06-20 23:49] aaronlehmann commented on #2273
@dperny: Do I remember correctly that you found some kind of race that could leave containers in the `Created` state when a service is deleted? I wonder if this is similar.

@fcrisciani: Could you please attach the compose files so this can be reproduced?

[2017-06-20 23:52] fcrisciani commented on #2273
I also put the repo above, anyway to make it easier here they are.
I had to rename them for the upload, they are .yml

[docker-compose-bad.txt](https://github.com/docker/swarmkit/files/1089947/docker-compose-bad.txt)
[docker-compose.txt](https://github.com/docker/swarmkit/files/1089948/docker-compose.txt)

[2017-06-21 00:58] aaronlehmann commented on #2273
Reproduced this, and at first thought something was wrong, but actually I think it's expected behavior.

We keep around the containers until the tasks get purged from the task list. This lets the administrator look at old containers to see why they failed. By default, we keep 4 old tasks for each slot in addition to the current running task.

When I ran the script, `test_srv1` and `test_srv2` had

[2017-06-21 01:19] fcrisciani commented on #2273
So if I run this in a loop every iteration will leave 4 dead containers
correct?
Can you confirm that all the resources of that containers are released?
Like ip address etc, with the inspect them I can see still ip reported.

On Jun 20, 2017 5:58 PM, "Aaron Lehmann" <notifications@github.com> wrote:

Reproduced this, and at first thought something was wrong, but actually I
think it's expected beha

[2017-06-21 01:22] aaronlehmann commented on #2273
correct?

No, the total should not change after each iteration. There should be up to 4 dead containers for every running service replica.

Like ip address etc, with the inspect them I can see still ip reported.

They should be released when the agent reports that the task has failed.

[2017-06-21 01:26] fcrisciani commented on #2273
ok then the issue is there still:

These is a snapshot that I took now from my setup after 17 iterations:

[code]
17 entries are from 2h ago while 11 are from 1h ago

[2017-06-21 01:29] aaronlehmann commented on #2273
Okay, thanks, I'll look into that.

Can you paste the output of `docker service ps` for each service?

[2017-06-21 01:49] aaronlehmann commented on #2273
Discussed a bit with @fcrisciani.

There are errors like this in the log:

[code]

It appears that `(*network).delete` is returning a UnknownNetworkError when trying to delete a network:

https://github.com/moby/moby/blob/6868b8ef230fea7bc5758e2d252d4297033029fa/vendor/github.com/docker/libnetwork/network.go#L936-L939

This swallows the real error returned by `getNetworkFromStore`, so I'm wonderin

[2017-06-21 15:53] EliRibble opened #2276 "Docker swarm DNS periodically fails"
I'm cross posting this here from a moby issue because I believe that nothing is going to happen with the issue in that project. The original issue is here:

https://github.com/moby/moby/issues/33721

In a 3-master swarm every few days one of the nodes will fail to have the internal swarm DNS resolve services by name. The swarm will operate fine for several days then DNS just stops working. I don't

[2017-06-21 15:54] EliRibble commented on #2276
Alright, looks like I captured some more information. At UTC 19:22 our automated systems started alerting that one of our services wasn't reachable. We had 3 nodes in the cluster at the time:

[code]

We run one instance of nginx on `6mugebxyus7dgoip9i165mj64`. That instance could not nslookup any of the services in node `oibvg6xvuq1otznkmjon706qs`.
Log snippet that covers the last time the issue

[2017-06-21 15:55] EliRibble commented on #2276
Here's more logs in case it helps:

Just had a repro again, this time couldn't reach services in `qbio2455qa8aysx15p31aqdc8 `. Log from the afflicted node:
[code]

[code]

[2017-06-21 15:56] EliRibble commented on #2276
My guess at this point is that the issue has to do with the line:

`Jun 21 15:23:42 ip-10-0-109-151 dockerd[18631]: time="2017-06-21T15:23:42.160320276Z" level=error msg="Bulk sync to node ip-10-0-101-134-756771be03b7 timed out"`

as that seems to immediately precede the problem and isn't related to simple logging issues. I'm working on understanding better what that message means

[2017-06-21 16:19] EliRibble commented on #2276
Alright, I started looking at the logs on the other nodes to see if there was anything obvious in them. This seems suspcious - this is from the system that runs nginx and needs the DNS entries for the other nodes to work to find the service it is reverse-proxying

[code]

[2017-06-21 16:22] sevoma commented on #2276
Can you do a `docker service ps rl90o2zc17b14r294p0a4dr7v --no-trunc` ?

Or if that no longer exists, do it for whatever service is named during when this message appears again:
[code]

[2017-06-21 16:30] EliRibble commented on #2276
[code]

[2017-06-21 16:38] EliRibble commented on #2276
I hadn't noticed before that maxillo was failing to start. That's been resolved now. I believe it was a red-herring, we've been having the problem for days and the maxillo failure should be only about 24 hours old

[2017-06-21 16:44] EliRibble commented on #2276
Based on this discussion thread

https://groups.google.com/forum/#!topic/consul-tool/dQSHf2R93lI

I'm starting to wonder if the issue has to do with periodic UDP packet failure so that one node is failing to indicate it is still alive, being presumed dead and then coming back. I'm basing this off of the log line:

[code]
and
[code]

[2017-06-21 16:54] aaronlehmann commented on #2276
ping @sanimej

[2017-06-21 17:43] aaronlehmann opened #2277 "Containers may not be cleaned up after restart"
When the agent has a task removed from its assignment set, it first updates the database to remove the task assignment, then attempts removal of the container (`closeManager`):

https://github.com/docker/swarmkit/blob/9363459166b93bd4612f8d7a36ddbf65ffc9b3cc/agent/worker.go#L292-L296

If the daemon crashes between updating the database and removing the container, I think the container won't be rem

[2017-06-21 19:26] nicolaka opened #2278 "hit panic: runtime error: index out of range"
I stood up a 1 manager 1 node swarm cluster using `docker-ce-17.06.0.ce-0.0.20170524.022443` on SLES 12. I left it for a couple of days and it seems it went into restarting mode after a panic and never recovered. UCP/DTR are running on the cluster.

Full log is attached. Error log snippet:

[code]

Engine Version:
`docker-ce-17.06.0.ce-0.0.20170524.022443`

OS:
[code]
Kernel:

[code]

[2017-06-21 19:27] nicolaka commented on #2278
[swarmkit_issue.txt](https://github.com/docker/swarmkit/files/1092673/swarmkit_issue.txt)

[2017-06-21 19:40] aaronlehmann commented on #2278
ping @sanimej

[2017-06-21 20:26] stevvooe commented on #2277
@aaronlehmann Is this a common occurrence? Are there any things that have changed to exacerbate this?

This may help. However, there is the issue where we could have removed the task but then it can reappear, due to various race conditions.

This kind of cleanup was original meant to be handled by a component called the "task reaper". The role of the component was to cover this behavior by removin

[2017-06-21 22:28] sanimej commented on #2278
@nicolaka line numbers got truncated in the logs..

[code]

Do you have the stack decode with the line number ?

From the code, the panic is likely to be when accessing `clusters[0]`. The assumption is there has to be at least one valid cluster in the store.

[code]

I vaguely recollect a similar issue getting reported once where the read from the store was failing.

After you did the cluster init

[2017-06-21 22:31] aaronlehmann commented on #2278
I remember that similar issue (https://github.com/moby/moby/issues/28067). It was caused by a nonstandard API client replacing the default cluster object with one that had a different name. Since then, we've hardened the Docker API so it's not possible to do this. See https://github.com/moby/moby/pull/28914.

[2017-06-21 22:38] nicolaka commented on #2278
@sanimej all swarm operations worked as expected after i formed the cluster. Re adding logs with no trunc.
[swarmkit_issue_v2.txt](https://github.com/docker/swarmkit/files/1093083/swarmkit_issue_v2.txt)

[2017-06-21 23:16] FrenchBen commented on #2272
Understand the go logic, but having some flags handle things one way and some another way makes for a wonky CLI experience IMHO

[2017-06-21 23:42] sanimej commented on #2278
stack trace does confirm that the line of crash is at `cluster := clusters[0]`

@aaronlehmann Is it possible to check the state of the raft store and why cluster object might be unavailable ?

[2017-06-22 00:14] aaronlehmann commented on #2278
Certainly. https://github.com/docker/swarmkit/tree/master/cmd/swarm-rafttool can dump the contents of the store.

[2017-06-22 00:15] aaronlehmann commented on #2278
Is there any chance the machine ran out of disk space? Just brainstorming, but that's one thing I can imagine causing problems.

[2017-06-22 10:59] rogaha opened #2284 "Lost swarm cluster after Docker upgrade"
### Previous version
**Version**: 17.06.0-ce-rc4

### Current version
/ # docker info
Containers: 1
 Running: 0
 Paused: 0
 Stopped: 1
Images: 536
Server Version: 17.06.0-ce-rc5
Storage Driver: overlay2
 Backing Filesystem: extfs
 Supports d_type: true
 Native Overlay Diff: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge host ipvlan macvlan null over

[2017-06-22 14:04] ijc commented on #2219
With #2275 this issue is pushed down into the `container.Task.Wait()` method. The [code](https://github.com/containerd/containerd/blob/master/task.go#L145) puts @ehazlett on the hook for that, but I'm not sure if there is an issue over there yet.

[2017-06-22 15:02] ehazlett commented on #2219
I've created #1066 to track this.

[2017-06-22 16:02] ijc commented on #2219
Thanks! I'll leave this here at least until #2275 is merged I think.

[2017-06-22 16:03] ijc commented on #2219
Correct containerd link: https://github.com/containerd/containerd/issues/1066

[2017-06-22 17:21] aaronlehmann commented on #2284
Please file this against https://github.com/moby/moby

The log output seems to be corrupted, with some lines abruptly truncated and others mixed together. Perhaps a problem with copy/paste?

This is a worker node saying it can't reach the manager node at 192.168.1.47:2377. Is that manager operational and listening on that port?

[2017-06-22 18:47] nicolaka commented on #2278
@aaronlehmann it doesn't look like it.
[code]

What's interesting is I can't even restart the engine, getting the following error:

[code]

[2017-06-23 11:45] sean-fabri commented on #932
Is there any progress on this issue or a workaround?

We wanted to set the restart policy on a service to none, expecting that in this state the container would be left running when healthchecks failed. The behaviour however is that the container gets stopped with a desired state of shutdown [code here](https://github.com/docker/swarmkit/blob/bd8224d126ed827efba036e4e495a61d5625b669/manager/orches

[2017-06-26 17:18] cirocosta commented on #1605
I have the very same use case as @errordeveloper 👍  How did you end up working around it @errordeveloper ?

[2017-06-27 22:59] aaronlehmann opened #2289 "Add test coverage for useExistingTask"
This method in the updater doesn't seem to be covered by any existing tests.

[2017-06-27 23:57] aaronlehmann commented on #932
Looking at this issue again...

This is an interesting idea. I started looking at what would be involved in making it work. I ran into two corner cases so far:

- If I drain a node, I want the tasks on it to stop running, which involves setting the desired state to "shutdown". But that means the orchestrator may eventually restart those tasks, even if I set up the service so they shouldn't restart

[2017-06-28 18:56] ChristianKniep opened #2291 "Add multi-container tasks to share namespaces within services"
I am wondering if a tasks can be redefined as not only tied to one container but multiple, which are able to share namespaces (like Kubernetes PODS)?

This would allow for a proxy container (e.g. lyft/envoy, nginx) to do its magic like TLS termination,logging,tracing,... communicating via localhost to a service providing container service.

[code]

[2017-07-01 16:48] shaowin16 opened #2293 "Node moved to "unknown" state due to leadership change in cluster"
After a leader(node1) demote to a worker,and a worker(node2) promote to a manager,
i found i can promote the node1 to a manager in node2.

Can you tell me the reason?
Thanks!

[2017-07-02 12:58] trunet opened #2294 "17.06 won't deploy stack anymore. no suitable node (unsupported platform on 3 nodes) on armhf docker cluster"
Hello,

I have an armhf cluster and since 17.06 installed, I'm getting this error and my stacks doesn't come up, it stays as pending forever. There's no constraint. This was working perfectly on 17.03.

Inspecting the task, I'm getting:
[code]

docker info:
[code]

[2017-07-02 13:10] trunet commented on #2294
probably introduced on https://github.com/docker/swarmkit/commit/8edbb9216533e3ccd41e7e0344227af87d8fd51c by @nishanttotla

[2017-07-02 19:15] nishanttotla commented on #2294
@trunet can you show the output for `service inspect` and also what `docker info` on the nodes looks like?

[2017-07-02 21:15] trunet commented on #2294
docker info is on the first comment.

docker service inspect:
[code]

[2017-07-03 00:50] thaJeztah opened #2295 "global service tasks not cleaned up when node leaves, is removed"
On manager node, create a global service;

[code]

On worker node, leave the swarm;

[code]

On manager node, the node shows as "down" (expected);

[code]

The task shows up as desired state `shutdown` (unsure if that's expected, as the node may return)

[code]

When _removing_ the node from the cluster (from the manager);

[code]

The node is succesfully removed:

[code]

The task for the removed

[2017-07-03 00:51] thaJeztah commented on #2295
ping @aaronlehmann @aluzzardi ptal

[2017-07-03 17:12] fabiodoaraujo commented on #989
It's a great news!!

[2017-07-03 17:38] nishanttotla commented on #2294
I see the issue.

It seems like the node reports
[code]
but the image reports
[code]
and that causes scheduling to fail. We will need to add more normalization for architecture names. I'll do that but it would be useful to have a full list of architecture name variations.

cc @thaJeztah @aaronlehmann currently we only do this for `x86_64` and `amd64`: https://github.com/docker/swarmkit/blob/master

[2017-07-03 17:56] trunet commented on #2294
I can think of aarch64 armv7l, but they are completely different architecture, aarch64 is 64-bits, armv7l is 32-bits.

[2017-07-03 17:59] trunet commented on #2294
@nishanttotla Is there a way to build the image with armv7l architecture instead of only arm, I didn't find anything on commit, push on build to add this? how docker hub is handling that, I suppose all https://hub.docker.com/r/arm32v7/ should uses armv7l?

[2017-07-03 18:02] nishanttotla commented on #2294
@trunet I'm not sure about that, but we'll see what's the best way to resolve this. Until then, you can get around this issue by using the `--no-resolve-image` flag which will not add platform information to your service spec.

[2017-07-03 18:05] trunet commented on #2294
@nicolaka  as I'm using stack, I didn't find the --no-resolve-image equivalent on compose 3.3 reference.

[2017-07-03 18:09] trunet commented on #2294
@nicolaka found it on https://docs.docker.com/engine/reference/commandline/stack_deploy/ thanks man

[2017-07-03 18:11] nishanttotla commented on #2294
@trunet apologies, yes for stacks you can use `--resolve-image=never` for now.

[2017-07-03 21:13] thaJeztah commented on #2294
Is there a list of valid architectures in the image's data? (Same for _nodes_)?

ARM is specifically tricky, as there's a lot of variations, and ways to express them (`armhf`, `armv6`, `armv7` etc.)

If there's a list of valid values, we can decide to _ignore_ other values

[2017-07-04 07:30] better88 commented on #989
waiting add to compose-file

[2017-07-05 21:54] nishanttotla commented on #2294
Related: https://github.com/opencontainers/image-spec/issues/661

@trunet I'm working on figuring out what the right fix is for this case.

[2017-07-05 22:35] stevvooe commented on #2294
@tianon Do you know how `Config.Architecture` is getting set for images in arm32v7? Are these just using `GOARCH` directly or is there a special build process?

[2017-07-05 22:40] tianon commented on #2294
@stevvooe that'd be `GOARCH` directly -- the builder for those actually used to be a 64bit build (and thus was setting `Architecture` to `arm64`), but I'm now using a 32bit build of Docker on a 64bit machine and using `linux32` to ensure the kernel claims it's also 32bit (just to help cut down on the types of things that can go wrong when cross-building like this), so they should all be set to `ar

[2017-07-05 22:42] tianon commented on #2294
In the manifest list pushing code we've got (which again, as you know, isn't deployed to `library/` just yet), `arm32v7` turns into something like the following:
[code]

[2017-07-05 22:48] tianon commented on #2294
Ah, see https://github.com/moby/moby/pull/3298/commits/f9359f59a88f109a7764406c33529a20098b0c7f for where those fields were first populated with `GOARCH` (appears it was hard-coded to `x86_64` before, and no OS info).

[2017-07-05 22:50] stevvooe commented on #2294
@tianon The problem with `GOARCH` on images, is that we lose variant when assembling `Platform` from an image configuration: https://github.com/moby/moby/blob/master/api/server/router/distribution/distribution_routes.go#L120.

For the vast number of cases, I think we can assume `variant` is `v7` but I am sure that will break.

[2017-07-05 23:02] tianon commented on #2294
Indeed -- I'm 100% with you on `GOARCH` being insufficient, which is why I wish individual non-list manifests had a full `platform` object so that this could be set properly. :disappointed:

To give another example that's completely broken, all the images under [`i386`](https://hub.docker.com/u/i386/) will have `Architecture` set to `amd64`, since I don't build them on real 32bit hardware (and did

[2017-07-05 23:04] tianon commented on #2294
For building the individual architecture images, I'm not doing anything special or custom beyond `docker build`, `docker tag`, `docker push`.

[2017-07-06 00:23] stevvooe commented on #2294
For arm, I should have qualified. All other architectures have sufficient information.

We'll either need this on the manifest or all the way down on the config (not sure if we really want to take that on). Seems, as is, there is no way to resolve the arm properties from the config itself and that the contents of `Config.Architecture` is generally dubious (at least for cross-builds).

Do we need t

[2017-07-06 06:25] cyli commented on #2182
Just as a note, this may have been due to https://github.com/docker/swarmkit/pull/2281, although it'd be good to try to replicate this still.  My attempt to replicate crashed.  :P  So trying again

[2017-07-06 16:07] Syntaxide commented on #2182
I ran this test repeatedly on my laptop for over a week, and found that it ran roughly 10k times without failing. If this test is indeed flaky, it will be more productive to try to isolate the cause of the failure, rather than hoping to catch the flake naturally.

[2017-07-06 18:19] aaronlehmann commented on #2295
Any thoughts on the correct behavior?

With replicated services this isn't an issue. We keep track of a certain number of tasks from each slot, and if those old tasks are from nodes that have been removed, that's fine - they still are useful as a historical record.

With global services, it's a bit different. We keep track of a certain number of tasks from each node. So right now there's no mechan

[2017-07-07 17:51] stevvooe commented on #2294
@tianon ^

As far as a solution, I think we should remove the automatic constraint on architecture unless reporting on a multi-platform image. That will allow swarm to meet the image matching use case for windows/linux.

[2017-07-07 17:57] tianon commented on #2294
I think that makes sense, especially since if it's not a manifest list, the notion of it being "multiarch" is kind of bogus anyhow (since the arch information is likely also bogus, or at least misleading).  The `OS` field _might_ be accurate, but it's hard to say in that case.  These architecture constraints can be directly added by hand, right?

As for filing a bug with the image-spec, I think th

[2017-07-07 17:58] tianon commented on #2294
(I have to confess that I haven't tried building `FROM scratch` on Windows to see if I could cross-build a Linux image that way. :sweat_smile:)

[2017-07-07 18:06] stevvooe commented on #2294
@tianon The image config is covered by the spec, unfortunately. For the cases where cross builds are happening, the image will have to be modified post-build. In the case where we just want to route a workload a host that can run that image, we likely don't have enough information, as that will have to be wrapped in a manifest list (index) to provide the actual platform information in the ARM case

[2017-07-07 18:49] broersa commented on #2294
I ran into the same issue today. I run a manager on amd64 and have a node which is armv6l. It's a raspberrypi model b+. I can run the image on the node itself, but when I want to run it as a swarm service it says:
"Message": "no suitable node (unsupported platform on 4 nodes)"

Btw. I also have two amd64 nodes.

It seems it can't map the arm image on armv6l in the swarm scheduler.

[2017-07-07 21:56] sugun999 commented on #1951
+1

[2017-07-08 19:19] thaJeztah commented on #2295
Yes, I think that's what I'd expect; the moment I `docker node rm` a node, I'd expect all resources from that node to be purged.

For preserving history (e.g., to investigate node-related failures) I can probably put the node in `drain` or `pause` mode before actually removing it

[2017-07-09 20:56] StefanScherer commented on #2294
The Scaleway C1 machine shows `armv7l`, as well as Raspberry Pi 2/3
Raspberry Pi 0/1 show `armv6l`
Docker images have `arm` as architecture.

So probably the `platformEqual()` should have the same normalization as for x86_64 -> amd64:

[code]

Something like this?

[2017-07-11 08:56] #2295 closed

[2017-07-11 20:12] blsaws opened #2303 "Lint error when trying to install swarmkit"
Per https://github.com/docker/swarmkit/blob/master/BUILDING.md, checked it out as noted, and ran into this lint error. Suggested on slack #swarm to file a PR here as this may be due to a new version of golint detecting a new issue. Note that golint is installed by the makefile AFAICT - I did not have it preinstalled.

~/go/src/github.com/docker/swarmkit$ make
:whale: fmt
:whale: bin/swarmd
:whale:

[2017-07-11 20:21] aaronlehmann commented on #2303
Thanks for reporting this. The error is strange because the type actually is necessary here. I can't reproduce this with the latest version of golint.

Can you try upgrading golint with `go get -u github.com/golang/lint/golint` to confirm that the latest version still has this problem?

Do you have any local modifications to swarmkit? (Does `git diff` show anything?)

If nothing else works, feel f

[2017-07-12 03:51] yangfeiyu20102011 commented on #2196
@aaronlehmann I also encounter the same problem.

1.swarm1    docker swam init
2.swarm2 and swarm3 join as workers
3.on swarm1,docker node promote swarm2 swarm3

details
[code]

[2017-07-12 03:51] yangfeiyu20102011 commented on #2196
docker log
[code]

[2017-07-12 18:36] aaronlehmann commented on #2196
Thanks very much for providing the log. I think I understand the problem.

swarm3 gets promoted first

swarm2 gets promoted, but this waits for `membershipLock`. Only one promotion or demotion can happen at a given time.

Consensus is reached on swarm3 becoming a manager. `membershipLock` is released so swarm2's promotion can proceed.

At this point, swarm1 is transferring its log to swarm3. This

[2017-07-12 18:59] aaronlehmann commented on #2293
I didn't quite understand the question, but the reason nodes will appear in "unknown" state after a leadership change is that node status is only tracked by the leader. This saves a lot of communication overhead in synchronizing the status of each node across the cluster. It means that when another leader takes over, it doesn't have any information about which nodes are up and which are down. They

[2017-07-12 18:59] #2293 closed

[2017-07-13 01:12] fcwu commented on #2278
Panic in the same line `cluster := clusters[0]` on Ubuntu 16.04.

[2017-07-13 01:19] yangfeiyu20102011 commented on #2196
Thanks.
It has confused me a few days,now I have a better understanding.

[2017-07-13 14:16] datacarl commented on #491
Any docs on how to use this now?

[2017-07-13 17:11] thaJeztah commented on #491
@datacarl this is just the changes in SwarmKit; for docker, these events will show up in the events-stream in `docker events`

[2017-07-14 15:13] thomasbiddle commented on #2276
I don't know if I'm having the same issue; but something very similar.

I went to go deploy a second environment, everything the exact same as my first, just in a different AWS region. (Everything is scripted - should be the *exact* same, minus IDs for newly created AWS resources)

I also have an NGINX reverse proxy, that was originally looking for the service name; however it wasn't able to resol

[2017-07-14 19:02] aaronlehmann opened #2307 "Manager shutdown hanging in GracefulStop"
I got this stack trace when shutting down dockerd:

https://gist.github.com/aaronlehmann/5b80c6b9d7beca9f2835aa96e14dd4a7

It looks like `GracefulStop` is hanging, probably because it's waiting for the handler for a streaming events `Watch` RPC to finish. This RPC handler needs to terminate when the server is shut down.

cc @LK4D4 @dongluochen

[2017-07-14 20:54] aluzzardi commented on #2307
/cc @dperny

[2017-07-14 21:17] stevvooe opened #2311 "protobuf: use protobuild to build protobufs"
While the mess of `generate.go` files are working, they are also my fault. Hopefully, I will redeem this problem by providing https://github.com/stevvooe/protobuild for building protobufs.

This tool was created when making containerd to build its protobufs and others were interested in using something similar.

Integration will be similar to https://github.com/containerd/containerd/pull/1187. If

[2017-07-14 21:22] aaronlehmann opened #2312 "Test failure: TestExternalCASignRequestSizeLimit"
Saw this failure in https://circleci.com/gh/docker/swarmkit/7678:

[code]

cc @cyli

[2017-07-15 00:10] #2312 closed

[2017-07-17 11:43] yangfeiyu20102011 commented on #2196
I want to know how the node status changes in the promote/demote operation.
I have read some related code but I still don't have a clear understanding,especially the asyn.
Could you explain the process in detail?
In the process,what functions are called and how the node status change?
Thanks,@aaronlehmann

[2017-07-17 14:27] hairyhenderson commented on #2276
I think I'm running into this issue as well, with Docker for AWS 17.06.0-ce. In my case, the service in question is Prometheus, and about 3:45am local time this morning I started receiving messages like:

[code]
(note: the service doing the logs is named `prometheus-local`, so it's failing to look its own DNS record up)

It was happening sporadically, and _would_ recover within 2-3mins. Then immed

[2017-07-18 23:25] aaronlehmann commented on #2196
Hi @yangfeiyu20102011: I just opened https://github.com/docker/swarmkit/pull/2318 which includes some information on promotion and demotion. Does it answer your questions?

[2017-07-19 00:52] #2307 closed

[2017-07-19 07:10] sungwonh opened #2320 "Topology aware scale down"
When creating or scaling out a replicated service, the scheduler places tasks on nodes according to the placement preference if it is specified. However, when scaling down a replicated service, the replicated orchestrator does not consider the placement preference of the service. It just balances the resulting tasks among nodes.

For example, consider the following set of nodes:
- Five nodes with

[2017-07-19 08:16] yangfeiyu20102011 commented on #2196
@aaronlehmann:With the raft.md,I think I have understood.

[2017-07-19 12:30] kleinsasserm commented on #1242
Yes, this would be really helpful! Because it should be possible to resolve through ```{{.Task.Slot}}.{{.Service.Name}}``` for cluster setups like Redis cluster join

[2017-07-19 18:22] aaronlehmann commented on #2320
There isn't any work in progress for this right now, but I think it should be done. The way the replicated orchestrator scales down services should be rethought. Right now it is naive and produces results that aren't consistent with scaling up to the same configuration.

The main obstacle is that the scheduling decisions happen outside the orchestrator. On scale up, all the orchestrator does is cr

[2017-07-20 14:26] cirocosta commented on #2249
👍 👍 A use-case:
- deploys a global service named `svc1`
- deploy a service named `svc2`
- from `svc2` wants to contact the container from `svc1` that sits on its machine (note: no ports exposed, `svc1` and `svc2` are in the same network)

If `svc1` can template its `network-alias`, then it can include `{{.Node.Id}}` such that `svc2` can use its node-id to target the svc1 instance in that machine.

[2017-07-21 07:29] tossmilestone commented on #2311
I want to working on it. But the protobuild has a limitation on sub config in packages, and swarmkit has different protobuf configs on different packages.

Looking forward to add the feature.

[2017-07-21 07:45] kleinsasserm opened #2325 "Hostname is not resolvable if created by template in swarm compose"
### Given the following working swarm compose yml results in not resolvable hostnames on the overlay network using the swarm DNS service discovery as usual.

[code]
### Here is the evidence:
[code]
### Expected result:
The hostnames of the containers should be registered correctly in the swarm DNS service discovery during startup. It does also not work if I recreate the stack (rm, deploy)

### Imp

[2017-07-21 08:10] kleinsasserm commented on #2325
Also setting the network alias does not change anything. No error, but no new alias. But I can ping the given one from any container.
[code]

[code]

[code]

[2017-07-21 19:50] stevvooe commented on #2311
@tossmilestone I don't think we'll be adding that to protobuild. SwarmKit has some subconfiguration, but we should be able to merge that into a single configuration. In places where there are conflicts, we should fix them.

[2017-07-21 20:23] duro commented on #1895
I too have a use case for this. I have a swarm (via Docker Cloud) that I use to deploy feature branches too using a CI server. I need a way to trigger some cleanup tasks that can only be ran from inside the container when a branch is deleted.

My flow looks like this:

Delete Branch -> Github Webhook -> Cleanup CI Job Executed -> docker service exec <process> '.bin/perform-cleanup.sh'

This is jus

[2017-07-25 07:44] kleinsasserm commented on #2325
Feature Request opened at moby/moby#34239

[2017-07-25 18:45] dvohra commented on #887
Global services are by definition _global_ and should not honor constraints.  A service wouldn't be global if only running on some of the nodes in a Swarm.

[2017-07-25 18:51] aaronlehmann commented on #887
We considered the name `fill` instead of `global`, as in "fill in all nodes that match the constraints". Ultimately, global was determined to be least confusing. global services do consider constraints, and this can be very useful. It's entirely optional to use constraints with a global services, so you can simply not set any constraints if you want the service to run on every single node.

[2017-07-26 07:24] StefanScherer commented on #2294
@nishanttotla any ideas to my comment https://github.com/docker/swarmkit/issues/2294#issuecomment-313954317 to fix `platformEqual()` for ARM introduced in #2180?
Is this approach a good idea that will get merged having some tests for it?
I have never built swarmkit on RPi/Scaleway to have a dev environment for it, so I ask in advance :-)

[2017-07-26 20:53] nishanttotla commented on #2294
@StefanScherer while your suggestion might solve this problem, it might not be the right place to fix it, especially with the large number of arm variants. There is a Docker PR to fix this until we can fix the root cause: https://github.com/moby/moby/pull/34021

[2017-07-27 07:51] alexellis commented on #2294
@nishanttotla what is the likelihood of that Moby issue being part of the 17.07 release?

If Docker CE ships this way then Swarm and stacks are completely broken for RPi. It would be better not to ship ARM binaries than degrade the experience of anyone who upgrades. It's the issue tracker and community that will be having to explain why it's broken and any work-arounds.

[2017-07-27 20:59] aaronlehmann commented on #932
Fixed by #2332

[2017-07-27 20:59] #932 closed

[2017-07-30 11:01] tossmilestone commented on #2311
@stevvooe I have opened a pull request #2337 to do this.

[2017-07-31 20:52] stevvooe commented on #2294
@alexellis I agree. This is not a good situation and I am worried that having these constraints will create mutual incompatibilities.

Could you see if moby/moby#34021 will work?

[2017-08-01 22:05] nishanttotla commented on #2303
@blsaws I'm closing this issue for now since there hasn't been any update on it, and it seems like the issue doesn't happen with the latest version of golint. If you continue to run into it, please feel free to reopen the issue or submit a PR.

[2017-08-01 22:05] #2303 closed

[2017-08-01 22:08] nishanttotla commented on #2325
@kleinsasserm since this issue is being tracked and discussed elsewhere, can we close this one?

[2017-08-02 05:06] kleinsasserm commented on #2325
@nishanttotla As this issue is covered as closes due commit docker/libnetwork@61f3d913, this one would be closed automatically if the PR is merged. My PR there is quite simple (two 2 liner) but very useful and it would be nice if you could support (+1) the merge there to get this done. This would be very helpful.

I've opened this issue here, because at first I thought that this is a swarm issue.

[2017-08-02 08:31] ServerTheOne commented on #1951
👍

[2017-08-02 09:37] gianarb commented on #1951
THis is done https://github.com/docker/swarmkit/pull/2266

[2017-08-02 14:12] artisticcheese commented on #1951
Which version of docker will this appear on?

[2017-08-02 17:11] nishanttotla commented on #2325
@kleinsasserm thank you for the detailed explanation and context. Since issues are searchable even when closed, let's close this one, and track any follow-up discussion in libnetwork.

[2017-08-02 17:11] #2325 closed

[2017-08-02 17:13] nishanttotla commented on #2284
Closing this issue for now. @rogaha please feel free to reopen https://github.com/moby/moby if it still exists.

[2017-08-02 17:13] #2284 closed

[2017-08-02 18:13] cyli opened #2339 "Service Identity feature"
# TODO (WIP)

- [ ] Update secret object for certificates, that has a public component, private component, arbitrary external CAs, and expiry - can possibly make use of the api.RootCA object, which already handles rotation, and the api.ExternalCA object.  (https://github.com/docker/swarmkit/pull/2331)
- [ ] Allow certificate secrets to reference other certificate secrets - possibly we should also

[2017-08-03 11:30] deitch commented on #1242
(thanks for pointing me here @thaJeztah )

Overall, it is good to get this standardized. I think most of the naming convention here makes sense - essentially following the DNS rule of most-specific-to-least-specific from left-to-right. I see a few issues.

1. `<task>.<slot>` feels reversed. Although the [how it works docs](https://docs.docker.com/engine/swarm/how-swarm-mode-works/services/#tasks-a

[2017-08-03 12:00] kleinsasserm commented on #1242
To follow this up I would like to drop in docker/libnetwork#1855 here. At some point, we need predictable hostnames because otherwise setups, like cluster setups as mentioned in moby/moby#30546,  in a dynamic environment wouldn't possible. Its not a fact about the container itself, because the container is only an envelope for the running process, e.g. Redis inside. This process itself is defined

[2017-08-03 18:58] cyli commented on #2241
I think the last instance of this is closed by https://github.com/docker/swarmkit/pull/2336.

[2017-08-03 18:58] #2241 closed

[2017-08-04 14:50] PGP-Protector commented on #2278
Have you gotten this working ?
Was searching for "dockerd: github.com/docker/docker/vendor/github.com/docker/swarmkit/manager/keymanager.(*KeyManager).rotateKey"  As I'm also getting crashes on a swarm
1 Master (Dies)
1 Worker (Keeps running)

around 2:40 in the morning when no one is using the system
Master:  docker version
Client:
 Version:      17.06.0-ce
 API version:  1.30
 Go version:   go1.

[2017-08-05 09:15] realcbb commented on #1951
Which version of docker will this appear on?

[2017-08-08 01:26] stevvooe commented on #1951
@thaJeztah ^

[2017-08-08 04:59] eyz commented on #1242
I have a fork that I'm testing in my environments with (if using a particular shared volume driver, for now):
* container name and hostname set to a concatenation of: setack, service name, and task slot id
* volume name is a concatenation of the stack, volume name, and task slot id -- with no task id (can't re-use the volume on multiple hosts if the task id changes otherwise)
* I pass the new cont

[2017-08-08 17:11] thaJeztah commented on #1951
I see it was vendored in through https://github.com/moby/moby/pull/34061, which is included in docker 17.07; https://github.com/docker/docker-ce/commit/57481ff30bbddefc30c2c5613f373b5faaed7eef

I'll have to check if the documentation is updated accordingly, and if there's changes needed in the CLI (or if they were made already)

[2017-08-08 17:19] thaJeztah commented on #1951
Does not seem to be working on 17.07-rc1;

[code]

[2017-08-08 17:46] thaJeztah commented on #1951
Interesting; so the only place the new functionality is called is in; https://github.com/moby/moby/blob/1009e6a40b295187e038b67e184e9c0384d95538/daemon/cluster/executor/container/container.go#L80-L88

However information about the Node where that's executed is nowhere around there (unless I miss something). `api.Task` only has `NodeID`, [no other information about the node](https://github.com/moby

[2017-08-08 18:08] stevvooe commented on #1951
@thaJeztah Here is the [context for templates](https://github.com/docker/swarmkit/blob/master/template/context.go#L28). For this change to take effect, the hostname had to be correctly injected, but it looks like the vendoring just passed in `nil`: https://github.com/moby/moby/pull/34061/files#diff-9651468cafd3eee09570f3733efd7dc4L80.

[2017-08-09 02:16] aaronlehmann commented on #1951
That's correct, the injection has not been added to the moby executor yet.

[2017-08-09 09:54] DanielYuan2012 opened #2344 "on mac os docker service stuck on “preparing” state in swarm cluster"
ocker@myvm1:~$ docker version
Client:
 Version:      17.06.0-ce
 API version:  1.30
 Go version:   go1.8.3
 Git commit:   02c1d87
 Built:        Fri Jun 23 21:15:15 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.06.0-ce
 API version:  1.30 (minimum version 1.12)
 Go version:   go1.8.3
 Git commit:   02c1d87
 Built:        Fri Jun 23 21:51:55 2017
 OS/Arch:      linux/amd64
 Experimenta

[2017-08-09 11:42] DanielYuan2012 commented on #2344
docker log:

ime="2017-08-09T11:41:07.971123295Z" level=info msg="Node join event for myvm2-f61cc5ca4c50/192.168.99.101"
time="2017-08-09T11:41:11.429153304Z" level=debug msg="myvm1-c934f09ef89a: Initiating bulk sync with node myvm2-f61cc5ca4c50"
time="2017-08-09T11:41:11.429960044Z" level=debug msg="myvm1-c934f09ef89a: Initiating unsolicited bulk sync for networks [ts5egqi6gs2lyq03tdgz23auk jl27l

[2017-08-09 20:25] nishanttotla commented on #2344
@DanielYuan2012 can you post the output of `docker service inspect` for the two services you're running?

[2017-08-09 23:51] mariaakiba opened #2346 "INSTALL "Cartel Food Corporation Skyscraper Building".AutoCAD"

[2017-08-09 23:54] mariaakiba commented on #2346
Start Install the Cartel Food Supermarket Store in the locate regions of Humacao, Puerto Rico , 00791 USA by Automation Digital Landing(X86/64) site.text.AutoCAD

[2017-08-09 23:54] #2346 closed

[2017-08-10 06:09] DanielYuan2012 commented on #2344
docker@myvm1:~$ docker service inspect getstartedlab_web
[
    {
        "ID": "27dlqighq0gfghl1hy96kr58r",
        "Version": {
            "Index": 110
        },
        "CreatedAt": "2017-08-09T08:44:47.06330789Z",
        "UpdatedAt": "2017-08-09T11:24:52.239405424Z",
        "Spec": {
            "Name": "getstartedlab_web",
            "Labels": {
                "com.docker.stack.image": "

[2017-08-10 18:39] stevvooe commented on #2311
@tossmilestone Thanks for the contribution!

[2017-08-10 18:39] #2311 closed

[2017-08-11 18:50] #428 closed

[2017-08-14 09:35] thaJeztah commented on #2325
Linking https://github.com/docker/swarmkit/issues/1242, which is where the global design for a DNS schema is being discussed

[2017-08-14 21:44] #2179 closed

[2017-08-17 17:36] andrewhsu opened #2352 "remove bump branches for patch version of 17.03 and 17.06"
I see some bump branches that are specific for the patch release versions:
* bump_17.03.1
* bump_v17.03.2
* bump_v17.03.3

These 3 can be removed in favor of a bump branch for just the minor version because we will not release patches in parallel, only in serial:
* bump_v17.03

Similarly the 17.06 bump branches with patch versions can be removed:

* bump_v17.06.0
* bump_v17.06.1

In favor of just

[2017-08-20 19:09] Toshik commented on #2294
I have all nodes with `Platform: linux armv7l` and have to use `--no-resolve-image`, otherwise swarm services are in constant `pending` state.

Docker: 17.06.1-ce

[2017-08-20 19:10] alexellis commented on #2294
@stevvooe the PR by @nishanttotla fixes the issue - I've spent the whole day testing it... :-/

@Toshik I don't believe your work-around is good for stacks?

[2017-08-20 19:16] Toshik commented on #2294
@alexellis, no, it is ugly workaround. And I had to recreate all services with just `docker service create` command :(

[2017-08-20 19:18] alexellis commented on #2294
Just take this PR it fixes everything.

[2017-08-22 04:26] dcarastan commented on #1030
I ran into it while building a [Concourse CI](https://concourse.ci) stack. The privileged options is needed for apps that orchestrate containers. Keep this option around and make it a swarm init parameter. Privileged containers should not be accepted by default.

[2017-08-22 15:17] dpatel06 opened #2354 "Proposal: Horizontal service Autoscaling"
I have been working with docker SWARM lately and noticed there is a lack of features Horizontal service Autoscaling.

Currently we have shell script that scale UP/DOWN containers as new servers get added/removed to cluster but it would be amazing feature if swarm manager can automatically scale up/down containers to match average CPU utilization specified by user.

Swarm manager should periodicall

[2017-08-28 17:37] nishanttotla commented on #2352
This sounds like a good idea. I can remove these branches if we all agree.

[2017-08-29 00:47] anshulpundir opened #2360 "Add more comments to raft code."
It would be quite helpful to have more comments in the raft code. For example, the raft FSM code has many condition tests and comments would make it much easier to follow the code:

https://github.com/docker/swarmkit/blob/master/manager/state/raft/raft.go#L545
https://github.com/docker/swarmkit/blob/master/manager/state/raft/raft.go#L566
https://github.com/docker/swarmkit/blob/master/manager/state

[2017-08-29 02:44] aaronlehmann commented on #2360
The `wasLeader` stuff is about detecting leadership transitions. The `etcd/raft` state machine tells us if we are currently the leader or not, but we need to keep track ourselves to see whether this has changed. Based on that, we can do certain things that need to happen at the transition.

A snapshot finished saving to disk, and it's newer than the previously most current snapshot. This triggers

[2017-08-29 10:29] mostolog commented on #1242
Hi @stevvooe

We are making a few tests with swarm, stacks and DNS
If our stack is deployed "normally", containers will see each other and they'll have randomized hostnames
However, when setting hostnames, the aren't able to resolve/dig each other. There seem to be  a bunch of related issues already open.

**Is there any way to get a list/tree-view of docker DNS registries? How could we get a view

[2017-08-29 10:36] kleinsasserm commented on #1242
This issue is the overall discussion, the great solution. Look at docker/libnetwork#1855, there I've made a PR with a possible solution which I guess is what you need.

[2017-08-29 10:41] mostolog commented on #1242
@kleinsasserm yes, but it has been idle for quite a while, isn't it? Why is hasn't been approved/merged? Are we missing some roadmap plans? Is that a bad practice we shall avoid?

To sum up: we are on the same car and - I don't know why - but it seems we aren't moving.

[2017-08-29 11:00] kleinsasserm commented on #1242
Yes, sad but true. Every six days or so I try to refresh my PR. Currently I was on vacation. I even don't know why my PR is not going to be merged. But I will still try it. Thank you for your response on my PR!

[2017-08-29 20:04] trapier commented on #1242
https://github.com/moby/moby/pull/31710

Something like the following might do the trick.

[code]

[2017-08-30 07:44] mostolog commented on #1242
Thank @trapier

As you said, it prints service's vip, but it doesn't contain any reference to containers (id) that could help me understand why if containers are unnamed (hostnamed random by default) they are able to resolve, while setting a specific hostname they can't.

@stevvooe Any comments on this issue/PR/behavior?

[2017-08-30 09:49] kleinsasserm commented on #1242
Oh, I just need some time to find it again, and maybe I mentioned it not clearly enough in my PR. So I debugged it once again. Lets assume the following two swarm stacks ```echo``` and ```echoa```, which upon started will create these containers.

[code]

The stack ```echo``` is started with no ```hostname``` parameter in the swarm compose file, so the ```CONTAINER ID``` is equal with the hostname

[2017-08-30 13:19] mostolog commented on #1242
@kleinsasserm Thanks for such a clarifying explanation.
Indeed, everything lead to that (now scientifically-supported) conclusion.

I guess the main concern is not registering hostnames, as they can be non-unique, they can change IPs along time...but still it makes much sense to me to merge your PR.
Or maybe it's just an Imbusywithmoreimportantstuffatthismoment.

Anyway, I think we still have to w

[2017-08-30 13:26] kleinsasserm commented on #1242
Thank you for your response, you are welcome! True, we will have to wait. :innocent:

[2017-08-30 14:16] sbrattla opened #2364 "What value goes into force_update / ForceUpdate?"
The documentation for force_update / ForceUpdate says :+1:

https://github.com/docker/docker-py/blob/master/docker/types/services.py

What does that mean? As far as our testing goes, it just has to be a different value from the previous one. Thus, we're just using a random value. The wording **counter** does somehow make us think that there is something more into this?

[2017-08-31 00:31] stevvooe commented on #1242
@mostolog This issue is about the schema of mapping tasks to DNS in a more sane manner. For discussions regarding the current behavior, open another issue in moby.

[2017-08-31 04:49] kleinsasserm commented on #1242
😄 I have already opened one here moby/moby#34239 and there docker/swarmkit#2325 which is referenced in the PR docker/libnetwork#1855 that I mentioned here. No need to open up another one which will probably get closed as duplicate but what it really needs is, that someone of the maintainers should have a look there.

[2017-08-31 08:00] mostolog commented on #1242
@stevvooe IMHO it's related enough to be discussed here, as we are discussing why node names whould be added into DNS tree.

AKA: if I mess my containers having the same names, docker could complaint about it, or even dont work at all, but if they are going to be unique (AKA: using {{.Task.Slot}} template)...let me do it!
https://github.com/docker/swarmkit/issues/1242#issuecomment-272039199
https:

[2017-09-01 01:28] stevvooe commented on #1242
@mostolog @kleinsasserm Sorry but this is not a general hostname discussion thread. This issue is about the schema for mapping names to DNS. If there are other relevant discussions already open, have them there. I know it is annoying, but we need to keep the discussion topical.

The issues you are describing should be discussed on the issues in moby. If you want me to join those discussions, pull

[2017-09-01 04:54] kleinsasserm commented on #1242
OK.

[2017-09-01 05:04] fangjian0423 commented on #2344
I also meet this problem, how to solve it? @nishanttotla

preparing all the time.

[2017-09-06 06:19] sungwonh opened #2366 ".Engine.Labels. placeholder support for docker service create"
Topology aware scheduling is useful to balance tasks over a set of datacenters or availability zones. We can make the swarm scheduler aware of topology using the values of engine or node labels.

Topology information can also be useful for a distributed system running on a swarm. If a distributed system can know the physical topology of the swarm, they can improve fault-tolerance by spreading data

[2017-09-06 07:24] joelchen opened #2367 "Swarm's tasks.db takes up lots of disk space"
Servers running a couple of Docker containers on Swarm has tasks.db using a few GBs of disk space. Docker containers are deployed globally on 2 servers, both Swarm managers, and their tasks.db gradually fill up 8 GBs of each server's disk space. Docker version is 17.06.1-ce.

What could be taking up such enormous space in tasks.db? How do I prevent tasks.db from growing?

[2017-09-06 13:37] mauricio-grando opened #2368 "Docker hv-sock proxy (vsudd) is not reachable"
Hi all,

I am starting with docker using Windows 10 Pro and Hyper-V.
Sometimes docker logs (attached image file) error and I saw that at Docker startup anything removes MobyLinuxVM from Hyper-V manager and normally adds again (in this case Docker starts successfully).

When I got error, Docker remover MobyLinuxVM and do not add again or add but can't start at Hyper-V.
Normally when this problem oc

[2017-09-06 19:09] friism opened #2369 "[Feature Request] Add option to auto-rm departed nodes"
Currently, a worker node that has voluntarily left a swarm will be marked as `DOWN`. This is documented here:

https://docs.docker.com/engine/reference/commandline/swarm_leave/#extended-description

This is a request to add an option in swarmkit that would auto-remove nodes that have correctly left a swarm when the departing node leaves in an orderly fashion with `docker swarm leave`. (Also fine i

[2017-09-07 18:19] augmento commented on #1429
I see the same issue on aws. Anyone has any recommendation or a workaround?

[2017-09-07 20:02] nishanttotla commented on #2364
@sbrattla I don't think you need to set it. Check the CLI code here: https://github.com/docker/cli/blob/5c5cdd0e3665f9dfa32eb2f0de136c262b811803/cli/command/service/update.go#L418

[code]

Basically, the counter gets updated if there is a forced update of the service.

[2017-09-07 20:22] nishanttotla commented on #2367
@joelchen can you provide more information about the services you're running?

[2017-09-07 20:23] nishanttotla commented on #2369
@friism can you explain why you need this?

[2017-09-07 20:31] nishanttotla commented on #2368
I'm not sure this is a SwarmKit issue.

cc @friism are you familiar with this?

[2017-09-07 20:47] friism commented on #2368
No, it's a Docker for Windows issue, see here: https://github.com/docker/for-win/issues/606

recommend closing

[2017-09-07 20:52] #2368 closed

[2017-09-07 23:19] vguna commented on #1429
I'm seeing similar results. Also without the AWS stuff. For me I only have a master node (at a hoster) and one worker node (home linux box with static ip). There are 7 containers distributed between them. I've checked the swarm port 7946 TCP and it is reachable on the hoster and at my linux box using the external host IPs. Distribution works as expected, but the containers on the linux box can't l

[2017-09-08 08:33] 1605200517 commented on #1180
I have it again on Ubuntu swarm: a node has left the swarm (=computer is powered down!) and on node rm it says:

cannot remove because manager, needs to be demoted first

Client:
 Version:      17.06.1-ce
 API version:  1.30
 Go version:   go1.8.3
 Git commit:   874a737
 Built:        Thu Aug 17 22:51:12 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.06.1-ce
 API version:  1.30 (minimu

[2017-09-08 19:18] stevvooe commented on #2369
This seems like it should be default. What is the current procedure for removing a node in this manner?

[2017-09-08 19:23] stevvooe commented on #2364
It just needs to change the value. It is well-documented [here](https://github.com/docker/swarmkit/blob/master/api/specs.proto#L126). A random value will work just, as well as incrementing.

This works because when we look at whether or not a task is "dirty" this field forces that condition and the service's tasks are all redeployed.

[2017-09-08 19:40] friism commented on #2369
@stevvooe instinctively I agree, but I also understand why it might be confusing for a user looking at a manager that worker nodes can just up and leave with no immediate trace in `docker node ls`.

Currently, in the manually managed case, a user would:

1. attempt to drain worker node
2. (probably optional) `docker swarm leave` on the worker node
3. on manager `docker node rm` to evict the now `D

[2017-09-08 22:26] stevvooe commented on #2369
@friism I am starting to recall why we didn't have this in the first place. Moving a node status is a cluster management operation that cannot be performed from the node that initiates a graceful leave.

[2017-09-08 22:40] friism commented on #2369
@stevvooe sorry if this is naive, but why can't the node send a `kthxbye` message to the leader and then exit gracefully?

[2017-09-08 23:33] stevvooe commented on #2369
@friism There were some complexities around resolving that state correctly, but I don't remember the details. It may have been a concern about a malicious node poisoning other nodes.

[2017-09-12 21:54] #2364 closed

[2017-09-13 08:46] rdxmb commented on #1429
@zen-chetan what if you do not create the network before running `docker stack deploy` ?
In my production-stack.yml there is no defining of networks, whether within services nor in the top-level-definition. When deploying the stack, an overlay network will be created by docker:

[code]

[2017-09-13 08:59] zen-chetan commented on #1429
Our product requires an attachable overlay network, which isn't supported in the docker compose yml file, AFAICT.

On Sep 13, 2017, at 1:46 AM, rdxmb <notifications@github.com<mailto:notifications@github.com>> wrote:

@zen-chetan<https://github.com/zen-chetan> what if you do not create the network before running docker stack deploy ?
In my production-stack.yml there is no defining of networks, whe

[2017-09-13 16:09] augmento commented on #1429
After I made sure that all the 3 hosts had docker-ce installed, with swarm, and using docker service create to launch containers, I was able to reach the containers across hosts. Ping using the container name also worked across hosts. I am not using docker stack deploy. I created the overlay network and used the same network name when launching the containers using service create. I still need to

[2017-09-13 23:28] vguna commented on #1429
I got it working now. Here are some insights that may help others:

- Don't try to use docker for Windows to get multi-node mesh network (swarm) running. It's simply not (yet) supported. If you google around, you find some Microsoft blogs telling about it. Also the docker documentation mentions it somewhere. It would be nice, if docker cmd itself would print an error/warning when trying to set som

[2017-09-14 07:30] sungwonh opened #2373 "Proposal: reschedule policy for task restarts"
In replicated services, tasks are always rescheduled when they restart. If tasks which are using local volumes are restarted on a different node than before, they will lose data.

I propose `reschedule policy` for task restarts.
- `reschedule policy` can be set in `docker service create` or `docker service update` using `--restart-reschedule` option with one of [`always`|`on-node-failure`|`never`]

[2017-09-14 13:12] cirocosta commented on #211
Hey, have anything changed in regards to this?

Right now we're manually putting nodes into "pause" availability to limit resource allocation to these nodes. Maybe I'm totally lost, is there anything around resource allocation that got into github.com/moby/moby so far that could help preventing a node from having its resources exhausted?

Thx!

[2017-09-15 00:17] nishanttotla opened #2374 "Large snapshots prevent the addition of new managers to the cluster"
This issue has been seen in a couple of production clusters, and is considered critical. We must fix it on SwarmKit.

### Summary
When the raft snapshot becomes larger than 4MB, then adding a new manager to the cluster becomes problematic. This is because the default gRPC message limit is 4MB, and sending a snapshot over to the new joining manager fails. As a result, the new manager does not end u

[2017-09-15 00:23] anshulpundir commented on #2374
@wsong and I discussed this, but this should include better error reporting for failure scenarios related to this.

[2017-09-15 02:25] aaronlehmann commented on #2374
I think streaming the snapshot is the best approach.

[2017-09-15 04:15] anshulpundir commented on #2374
3 is just better design, IMO. 4 is an optimization. 1 can possibly be done in the short term. 2 is the approach for long term.

[2017-09-15 08:05] anshulpundir commented on #2374
Increasing grpc message size to 128MB https://github.com/docker/swarmkit/pull/2375
Didn't get a chance to test it yet though.

[2017-09-15 14:11] MentalMasochist commented on #1429
Having similar trouble connecting services between hosts. If I am in a container in a worker node and use `netcat -vz` to try to connect to the manager node host and port, I get the following error:

[code]
Values with `<>` around them are to anonymize the output. `cordoba.<company>.com` is the manager node host.

[2017-09-15 20:12] vguna commented on #1429
The `netcat` was meant for testing the open ports on master and worker _hosts_, not the _containers_. I haven't tried whether it is also accessible from inside the containers. I didn't have to change or specify any network settings at all. Default worked fine for me (via docker-compose).

BTW: what is port `8786`? What OSes are you using?

[2017-09-16 16:12] mion00 commented on #1951
I think that this issue is resolved, given the latest pull request that have been merged in the Moby repo.

[2017-09-18 18:10] thaJeztah commented on #1030
Linking the entitlements proposal here, which is relevant https://github.com/moby/moby/issues/32801

[2017-09-19 23:05] vieux commented on #2352
@nishanttotla I agree :D

[2017-09-20 09:09] BSWANG opened #2381 "[Feature Request] Allow live-restore in swarm mode cluster."
The docker daemon `live-restore` option is not compatible with `swarm mode` cluster. I guess the `live-restore` is conflict with the swarmkit orchestration on judging the node healthy and migrating service's tasks. When the node's dockerd exit, the node's tasks will be migrated. But `live-restore` is useful on upgrading docker daemon in production environment. So will `live-restore` support in swa

[2017-09-20 18:08] jheidecker commented on #1605
+1 open to workarounds

[2017-09-20 18:34] anshulpundir commented on #2374
Short-term fix has been landed. Reducing priority to P1 since the long term solution is not P1.

[2017-09-20 19:26] nishanttotla commented on #2294
Closing since https://github.com/moby/moby/pull/34021 was merged. A longer term resolution of ARM variants will take time, but it is no longer the case that tasks don't run, so we can consider this issue resolved.

[2017-09-20 19:26] #2294 closed

[2017-09-21 07:21] sungwonh commented on #2366
PR for this issue - #2372

[2017-09-21 20:39] errordeveloper commented on #1605
We have used a global service that bind-mounts docker socket and starts
another container that way... A bit hack-y.

On Wed, 20 Sep 2017, 7:08 pm jheidecker <notifications@github.com> wrote:

[2017-09-22 01:57] stevvooe commented on #1951
@mion00 Confirmed. Thanks!

[2017-09-22 15:32] thaJeztah commented on #2369
There's also an earlier discussion from last year on this topic here: https://github.com/moby/moby/issues/24088

[2017-09-22 15:33] thaJeztah commented on #2369
/cc @diogomonica @tiborvass

[2017-09-22 20:55] andrewhsu commented on #2352
i still agree

[2017-09-25 07:47] schmunk42 opened #2388 "Thousands of sleeping threads due to restarting service task"
We've an application which consists of two container (php, redis). While running it dozens of time upon `docker/swarm` we some problems running it with `swarm mode`.

Due to a misconfiguration we had some containers restarting over and over, we have no `restart:` policy btw., but the php container is recreated every few seconds, tries to connect to a database, which fails and the setup process is

[2017-09-25 09:09] schmunk42 commented on #2388
Possibly related: https://github.com/docker/libnetwork/issues/1113
CC: @handcode

[2017-09-26 09:45] sylvainmouquet commented on #1379
The error occures today with docker version 17.07.0-ce

[code]

[2017-09-26 10:29] schmunk42 commented on #2388
Some more information on this...

A: Swarm-cluster created
B: Broken application stack created (restarting due to config errors)
C: Broken application stack removed; broken nginx (see below) stack created for testing
D: Engine restart (due to too many threads?)
E: Recreated swarm-cluster and deployed broken-nginx stack on vanilla setup to verify the issue

![image](https://user-images.githubuserco

[2017-09-26 21:53] jmarcos-cano commented on #1951
What exact version contains this ?

[2017-09-26 22:19] thaJeztah commented on #1951
Tested on master;

[code]

@jmarcos-cano This is currently on master, and will be included in docker 17.10

Closing this one because it's resolved, thanks!

[2017-09-26 22:19] #1951 closed

[2017-09-27 08:57] approxit commented on #1951
Thank a lot for all effort to make this feature happen!

[2017-10-02 22:29] MLescaudron commented on #2294
Same problem on 17.09, have to rollback on 17.06

[2017-10-02 22:48] nishanttotla commented on #2294
@MLescaudron this should be fixed now. Can you share the output of `docker info` on one of your worker nodes that has ARM, and the output of `docker service inspect <service name>` for the service that fails to run?

[2017-10-02 22:51] MLescaudron commented on #2294
Docker info (previously I was in 17.09.2-ce)
[code]
docker service inspect
[code]

[2017-10-02 23:01] nishanttotla commented on #2294
@MLescaudron your node reports `linux/x86_64` and your service placement constraints report `linux/amd64`. This is a compatible combination, and your service should run. There maybe another reason why it's failing.

[2017-10-02 23:41] MLescaudron commented on #2294
Ok, so I have unistall and reinstall docker-ce on each node.
When I launch a service, docker ps return an empty response and the state is on pending mode.
Same problem as @trunet

[2017-10-03 02:29] MLescaudron opened #2392 "no suitable node (missing plugin on 3 nodes)"
Hello,

I've upgraded docker to `17.09.0~ce-0~ubuntu`. My containers remain in "pending" mode.
When I look inside one task,  I have the following error :

Docker info :
[code]
docker service inspect
[code]

[2017-10-03 11:09] saada commented on #2354
While I agree that this should be built into Swarm, there's an open source solution here:
https://github.com/gianarb/orbiter

Maybe Moby/Docker can endorse the project and bake it into Docker itself?

[2017-10-03 23:06] beatkyo commented on #2294
Same here with 17.09

Docker info: `linux aarch64`
Docker inspect task: `linux arm64`
Docker inspect container: `linux arm64`

Task status: `"State": "pending", "Message": "unsupported platform on 1 node"`

[2017-10-03 23:13] nishanttotla commented on #2294
It seems that #34021 should have excluded more cases in addition to just "arm", like "arm64".

cc @thaJeztah @andrewhsu

[2017-10-04 01:25] anshulpundir opened #2393 "docker node ls: make the 'status' and 'manager status' fields coherent"
The following is from a customer installation:
[ec2-user@ucp-replica-YnGeKNVo-17601 ~]$ sudo docker node ls
ID                            HOSTNAME                       STATUS              AVAILABILITY        MANAGER STATUS
2o3j1q70ejfop2uqauedqrdvf     nginx-member-C41eas7i-20816    Ready               Active
**4kpmve4w1ur9724xn869d3t7r     ucp-replica-YnGeKNVo-19623     Down                Activ

[2017-10-04 03:29] stevvooe commented on #2393
Why is the node marked as down? These fields have specific meanings. Trying to "make sense" of it without understanding the meaning behind the fields won't achieve anything.

From memory, this means that the node is participating in raft but doesn't have an active worker session.

[2017-10-04 07:49] schmunk42 commented on #2388
Some more info...

This is how a `pstree` looks like:

[code]

This line shows the processes/threads getting accumulated:

        |         `-128*[{dockerd}]

other counts stay the same

[2017-10-04 18:25] anshulpundir commented on #2393
Agreed. My point is that the name of the fields  should be indicative of the meaning. Maybe there's a better name. We can't expect everyone to be well versed with the details right away. It should be reasonably self-evident.

[2017-10-04 18:37] stevvooe commented on #2393
@anshulpundir From this output, we know that `ucp-replica-YnGeKNVo-19623` is having trouble establishing a worker session. In this state, the node is unlikely to be able to accept new work. At the same time, the node is participating in the raft quorum as a manager. This information is not contradictory, at all, as they represent two facts about how this node is operating in the cluster.

They mea

[2017-10-05 15:32] schmunk42 commented on #2388
Ping @thaJeztah - sorry to bug you here, but usually you're the person who knows who can shed some light on such issues :) This is completely keeping us from progressing with swarm mode

[2017-10-05 15:50] thaJeztah commented on #2388
Can you add the output of `docker version` and `docker info` as well, to give some context about the version that's running, platform, and configuration? Other than the flags set on the daemon (shown in the top comment), do you have any configuration options set (such as a specific logging driver, etc?)

[2017-10-05 15:52] thaJeztah commented on #2388
Also, it may be good to get a stack dump from the daemon; you can obtain that by sending `dockerd` a `SIGUSR1` signal, which will produce a stack dump in the daemon logs (or mention a file that it saved the dump in)

[2017-10-05 21:09] sudharkrish commented on #1244
@flx42 , Can you let us know, if your patch is available for latest docker swarm, i.e. if someone has ported your patch to the latest, docker swarm API 1.24+, where swarmkit is integrated within docker daemon.

[2017-10-05 23:33] flx42 commented on #1244
@sudharkrish No, it isn't ported AFAIK.

[2017-10-06 01:16] anshulpundir commented on #2393
STATUS=down seems to imply the node is down. Maybe it should be renamed to WORKER STATUS or something more intuitive. Also, maybe 'AVAILABILITY' should also be enhanced to say what component it refers to (like MANAGER STATUS is currently).

I agree that this probably quite obvious to someone who knows the system well. But I don't think its obvious to someone new to it. Let me know your thoughts

@

[2017-10-06 06:39] mustafaakin commented on #2249
Any updates on this? Definetely useful

[2017-10-06 16:43] mavenugo opened #2398 "Subnet overlap error is ignored"
When I create 2 networks with overlapping subnets, the daemon fails as expected. But the error is consumed at swarmkit and hence the network is created in inconsistent state (the driver field is empty). In the example below, the wtnet2's driver is not overlay and the daemon logs shows the subnet overlap error.

[code]

[code]

The error must be pushed back to the control-api and the network should

[2017-10-06 16:47] thaJeztah commented on #2398
Linking a moby issue that may have the same cause as this one (based on the driver being empty); https://github.com/moby/moby/issues/35099

[2017-10-09 18:52] nishanttotla opened #2400 "Technical Steering Committee participation"
Since SwarmKit is a represented project as part of the Moby TSC, what decisions do we as SwarmKit maintainers need to make? More details about the TSC are here: https://github.com/moby/tsc

cc @docker/core-swarmkit-maintainers

[2017-10-09 20:40] alexellis commented on #2294
This appears to be broken again on ARM64 :-( in particular I have a weird situation where it will work on Dieter's ARM64 RPi image but not on Packet's Qualcomm machine - both are "aarch64" in uname.

Packet:

[code]

[2017-10-09 21:25] vielmetti opened #2401 ""no suitable node available for task" on arm64 due to non-normalized platform name"
[updated with current information]

arm64 jobs fail to schedule on Swarm, because the system identifies itself as "aarch64". A fix at #2411 in manager/scheduler/filter.go normalizes these names for the 64-bit Arm architecture.

## Original report

The issue simply put is that Swarm doesn't always work on arm64 nodes, but sometimes it does. However the issue is sufficiently complicated that I don't

[2017-10-09 21:33] alexellis commented on #2401
Agreed - we should be able to find out what the difference is between expected and current state. These breaking changes came in with the 17.06 release

[2017-10-09 22:04] vielmetti commented on #2401
This issue is referred to in https://blog.hypriot.com/post/setup-simple-ci-pipeline-for-arm-images/ especially at https://blog.hypriot.com/post/setup-simple-ci-pipeline-for-arm-images/#comment-3551354550 - attn @StefanScherer

[2017-10-09 22:10] stevvooe commented on #2294
@alexellis Looking at the patch that should have fixed this, it seems like this case is not covered. Although, it seems like the placement constraint clearly reads `amd64`, from the log message.

[2017-10-09 22:58] vielmetti commented on #2294
OK, there's something funny going on here.

[code]

It looks like @luxas has a prometheus-arm64 image that advertises that it supports amd64/linux.

[2017-10-09 23:03] stevvooe commented on #2294
Looking at the configuration, the architecture is reported as `amd64`:

[code]

Were these "cross-built" binaries?

[2017-10-09 23:08] vielmetti commented on #2294
Looks like @luxas has a multiarch image, cf

[code]

also

[code]

[2017-10-10 06:42] StefanScherer commented on #2401
@vielmetti I only had problems with images that are cross built on Circle or Travis or another Intel machine. This worked in the past up to 17.05. It worked for with a Docker image that I built on an ARM64 platform.
Do you see problems with images built on ARM64?

[2017-10-10 08:46] pmatv commented on #2392
Hi,
I have same issue
Docker version 17.09.0-ce, build afdb6d4

[2017-10-10 09:53] vide commented on #2201
Closing since it's not happening anymore with >=17.06

[2017-10-10 09:53] #2201 closed

[2017-10-10 09:54] justincormack commented on #2401
I can imagine there could be a bug with cross building, if we could verify that is the issue it should be trackable.

[2017-10-10 12:19] vielmetti commented on #2401
One specific image that @alexellis was having problems with is this one:

[code]

It looks like @luxas has a prometheus-arm64 image that advertises that it supports amd64/linux, which is unsurprising that it doesn't work. The question is how that image was built. The code is from https://github.com/luxas/kubeadm-workshop

[2017-10-10 13:59] vide commented on #2392
Same problem here but @MLescaudron I think you opened the issue in the wrong repo, this is for the old swarmkit, not for the integrated mode of more recent Docker distributions

[2017-10-10 14:16] justincormack commented on #2401
Yes, that seems to be cross built here https://github.com/luxas/kubeadm-workshop/blob/master/images/prometheus/Makefile

[2017-10-10 14:24] justincormack commented on #2401
Currently there is no way to label something as a different architecture if you cross build it. That missing feature is a moby/moby issue rather than a swarmkit one (not sure if there is an existing issue).

[2017-10-10 14:54] vielmetti commented on #2401
Thanks @justincormack - issue opened on moby/moby - I looked and didn't find an existing issue, but happy to close if it really turns out to be a duplicate.

[2017-10-10 14:54] vide commented on #2392
@MLescaudron Ok I think I've got what happened here: you (and me, too) updated the nodes without draining them before. That leaves the cluster in an unusable state, and the only solution I found in my tests were to completely shut down the cluster, downgrade the version to the same it was running before (17.06 in my case) and then start all the docker daemons again. This will let you schedule agai

[2017-10-10 17:42] luxas commented on #2294
@vielmetti @stevvooe Yes, I'm crossbuilding everything. That's by far the best way to do things IMO. Don't know if docker lets me set the os/arch (I don't think so?)

[2017-10-10 20:28] blieberman commented on #1160
+1

[2017-10-11 00:36] stevvooe commented on #2294
@luxas Cross-building won't work unless you re-pack into manifest list or re-write the configuration with the correct architecture.

@vielmetti There is no variant field in the base image config, so it won't be defined. We can add one there if this is a huge problem.

[2017-10-11 06:02] sharand commented on #2201
Even after updating to docker version 17.09.0-ce in AWS, still seeing this connection drop issue. Connection drops after ideal time on the services deployed in the swarm for more then ~2 hours. Not seeing the issue if we are continuously interacting with the services deployed on the service. our network type overlay. Thinking of exploring kubernetes now

[2017-10-11 16:23] tenigma commented on #2160
Hi,
may I ask if you found solution for your problem?
We have the same problem with our hybrid swarm.
We can ping each linux container from the windows but we can not ping the service:
For example:
ping myservice --> does not work
ping myservice.1 --> does work

On the other hand both ping commands work from another Linux container.

[2017-10-11 17:23] WillNye commented on #2160
@tenigma
Sadly, we wound up just abandoning efforts to dockerize our Windows apps. It really seems like swarm support with Windows and Linux just isn't there yet. I'm not sure what your situation is but if you're trying to serve your .Net apps over Nginx we just did a round robin within Nginx instead.

[code]

[2017-10-11 17:26] luxas commented on #2294
@stevvooe Can you point to docs how to mutate OS/arch for a given (non-manifest-list) image? e.g. for `luxas/prometheus-arm64`

[2017-10-11 17:44] tenigma commented on #2160
@WillNye Thanks for answering so fast. We are trying to dockerize some backend services and we wanted to use rabbitmq linux image. Our windows app cannot talk to service but can talk direct to a service container. I found some videos and this blog post where they use "--endpoint-mode dnsrr". Tomorow we will try this and if it does not work we will try to switch to windows cluster only or switch to

[2017-10-11 21:28] nishanttotla commented on #2392
@MLescaudron your issue seems to be coming from the plugin filter, which checks whether or not a given plugin is present on a node that a task is scheduled on. During upgrading, is it the case that some plugin didn't install or wasn't reported? Can you inspect each node in the cluster and make sure that all plugins are visible, the way you expect them?

[2017-10-11 23:36] nishanttotla opened #2407 "[Proposal] Resolving the IP address contention issue"
## What is the Issue?
When tasks are removed from SwarmKit, they're immediately removed from the object store, along with all the resources allocated to them (this includes IP addresses). But, actual task containers can take much longer to shut down, as they finish their shutdown procedures. This means that IP addresses might be held for longer. If new tasks get created in the meantime, they may b

[2017-10-12 09:52] HosseinAgha commented on #2173
It is very funny I followed this through 3 repositories! issue https://github.com/docker/compose/issues/4805

[2017-10-12 12:24] rdxmb commented on #1895
As a multiple tasks/containers can belong to one service, it would be more explicit to have a
`docker task exec`

With having
`docker service exec`
which task/container will be used?

That doesn't matter? Randomly? Ok, if it will defined and designed like this, no problem.

[2017-10-12 20:01] vielmetti commented on #2401
Still puzzled.

The specific image I'm trying to work on is on

https://hub.docker.com/r/vielmetti/multiarch-prometheus/

which I constructed from the manifest at

https://github.com/vielmetti/multiarch-aarch64/blob/master/manifest/multiarch-prometheus-1.5.2.yml

When I start from the command line as

[code]

it starts just fine.

Instead, when I start as

[code]

[code]

Just to make things very

[2017-10-12 21:40] anshulpundir commented on #2407
Spoke with @nishanttotla about this offline, but capturing here too: we should look at the different states available and see how does it all works together with the new proposed state of REMOVED. Maybe there is opportunity for consolidation of behavior, or maybe this can be named something more generic like CLEANUP, which is an indication to the task reaper to clean this task up.

Also:

Does the

[2017-10-12 23:40] sudharkrish opened #2410 "When using Swarmkit, secrets are NOT getting passed to service running in container."
Description
When using Swarmkit, secrets are NOT getting passed to service running in container.

Using swarmkit and trying to use secrets feature. Used swarmctl command, to create new secret. When service is created, assigned secret to that service. But secret is not being sent to that service.

Steps to reproduce the issue:
Using the latest changes in swarmkit repo:
https://github.com/docker/swa

[2017-10-13 18:55] vielmetti commented on #2401
With @crunchywelch 's change at https://github.com/docker/swarmkit/pull/2411 the instant problem is resolved.

[2017-10-13 19:02] vielmetti commented on #2294
This patch https://github.com/docker/swarmkit/pull/2411 addresses the issue.

[2017-10-13 19:07] vielmetti commented on #2401
The change at #2411 references `arm64` as the normalized name of `aarch64`, in the same way that `amd64` is a normalized name of `x86_64`.

[2017-10-16 08:56] vide commented on #2392
@nishanttotla I have the same issue and checked the plugin list before and after upgrade and it's exactly the same (btw I've just the standard plugins that come with docker CentOS' package)

[2017-10-16 14:46] vide commented on #2392
@nishanttotla just installed a fresh 17.09 cluster from scratch, and the problem persists. I don't know if maybe is something related to the images we are building but it's really strange

[2017-10-16 14:54] vide commented on #2392
My `docker node inspect` output:

[code]

[2017-10-16 19:58] nishanttotla commented on #2407
Based on https://github.com/docker/swarmkit/pull/2408#issuecomment-336647568, I'm also wondering if we can somehow utilize the `ORPHANED` state to free up resources, instead of defining a new state like @anshulpundir pointed out above.

cc @aaronlehmann

[2017-10-16 21:02] anshulpundir commented on #2407
Maybe this could work. We could potentially rename `ORPHANED` to something more generic e.g. `CLEANUP` and use it for all the cases where a cleanup is required.

[2017-10-16 22:09] Routhinator opened #2412 "Cannot configure gateway and subnet range of IPAM network on swarm mode"
I've been trying to get this to work on swarm-mode, and from what I can find via Google and testing it will never work as a swarm service because Swarm mode only allows the subnet to be set on the IPAM config for swarm networks.

For background, the `dhcp` subnet is an external subnet which has an assignable range and a reservable range. Since Docker has not added support for true DHCP on a contai

[2017-10-17 02:49] aaronlehmann commented on #2407
Aside from some corner cases like deleting a node, we don't remove tasks before they shut down. The current general flow is:

- Manager sets the desired state to "shutdown"
- Worker shuts down the task
- The actual state gets reported as "shutdown"
- The manager frees resources such as IP addresses associated with the task
- Depending on the task retention policy, the task object may be deleted in

[2017-10-17 03:00] aaronlehmann commented on #2407
Another source of problems could be scale-down. We delete tasks immediately in this case. That was done because otherwise the no-longer-alive tasks would clutter the `docker service ps` output indefinitely. It might be better to mark those tasks as scaled-down in some way, and have the `docker service ps` command ignore them.

[2017-10-17 08:28] vide commented on #2392
Is there a way to know about which plugin is it complaining?

[2017-10-18 07:38] schmunk42 commented on #2388
### System

- Docker Swarm (swarm mode)
- 2 nodes in Debian 9 in VirtualBox VM
- Host is Debian 8.7

### `docker version`

[code]

###  `docker info`

[code]

### `syslog`, `daemon.log`

[Last lines of logs](https://gist.github.com/schmunk42/7da668e769ff3bdae7047a599e8089ee) - there are literally 10.000s of lines like:

    Oct 18 06:41:15 49 dockerd[16012]: time="2017-10-18T06:41:15.413061421Z" l

[2017-10-18 23:41] dperny commented on #2352
done. i'm not gonna worry about branches before 17.03 because there are a lot of them, but everything since then is nuked.

[2017-10-18 23:41] #2352 closed

[2017-10-19 19:30] nishanttotla commented on #2392
@vide hmm, I think the error should be reporting which plugin it is failing on, but right now it doesn't. It seems that `docker node inspect` gets the list of plugins rightly. Which are the plugins that you are trying to use, and do you see them in the list?

[2017-10-19 22:46] apanagiotou commented on #2344
Any update on this? I'm having the same issue

[2017-10-20 09:41] vide commented on #2392
@nishanttotla I'm not using any "special" plugin, it's just a basic docker swarm installation (so, overlay, bridge, host for networking) and I'm also using the syslog plugin to dispatch logs remotely.

[2017-10-21 22:02] prologic commented on #989
Would this also let us create a service and bind its published port to a specific interface on that node with a deployment constraint?

[2017-10-23 18:32] anshulpundir opened #2416 "[Proposal] Streaming messages between manager nodes"
## Background
Swarmkit uses a replicated configuration store that relies on etcd/raft for consistently replicating changes to the members. Etcd/raft is an embeddable library that provides the raft algorithm, networking is implemented on top in swarmkit. Etcd/raft has a write-ahead log (WAL) for storing the most recent log entries, which is configurable in size, beyond which entries are flushed to

[2017-10-24 15:59] thaJeztah commented on #2388
Are you able to reproduce on a 17.09 daemon? Or perhaps better; 17.10, as I see the patch for https://github.com/docker/libnetwork/issues/1934 was included in 17.10, but not (yet) back ported to 17.09; https://github.com/docker/docker-ce/pull/264

/cc @fcrisciani

[2017-10-24 20:50] schmunk42 commented on #2388
Yes, I tried it with `17.10` (upgraded all nodes), see this [gist](https://gist.github.com/schmunk42/66cb9ee1f3247014561c144a6fde0f59) for some logs.

On the two workers one gets filled with threads, around 2900 in 24h, while the other gets filled with logs ~7GB in 24h. Both machines close to dying, just because of the one broken config from the initial example.

Can you reproduce that?

[2017-10-27 02:10] xianlubird commented on #2381
@nishanttotla Pls take a look

[2017-10-27 20:43] anshulpundir commented on #2407
Clarified the use-case with @aluzzardi just now. There's two: 1. service removal, and 2. scale-down for replicated services.

[2017-10-27 23:37] anshulpundir commented on #2407
Possible solution for service deletes: we delete service object, and set the desired state for its task to shutdown. Then, when the current state changes to shutdown, we mark it orphaned (since the service is already gone).

For scale down, we also set the desired state to shutdown. TBD on if/how to handle `docker ps` output.

[2017-10-28 01:34] aaronlehmann commented on #2407
Overall that sounds good to me. I'm not sure about marking the tasks orphaned though. Orphaned is used to override the current state when it doesn't update in time. If it does update to shutdown, why do you need to mark it orphaned?

[2017-10-29 15:36] morph027 commented on #2392
Same for me ... had the [beegfs](https://github.com/RedCoolBeans/docker-volume-beegfs) in place...

[2017-10-30 15:02] vielmetti commented on #2401
We have this running with no ill effects in a Swarm cluster that has both arm64 and amd64 systems. What would be necessary to get this patch into the next version?

[2017-10-30 19:01] anshulpundir commented on #2407
In case of service delete, my understanding is that otherwise these tasks would never be deleted since the task reaper can only look at existing services. Even for the scale down case, the task reaper will not clean up the slot which has been scaled down. @aaronlehmann

[2017-10-30 19:14] aaronlehmann commented on #2407
I don't think setting a service task to orphaned will cause it to get deleted either. The task reaper would need to deal with this case where the service doesn't exist anymore.

[2017-10-30 19:23] anshulpundir commented on #2407
Completely agree. This would be the clean way of doing it. Setting the task to orphaned in this case is hacky.

However, I see that task reaper listens for task update events. So, when a task is set to orphaned, I believe it should be cleaned up the task reaper.

[2017-10-30 19:27] aaronlehmann commented on #2407
I don't agree because tasks shouldn't disappear from task history because the node where they were running went down for a long period of time (which is the original purpose of the orphaned state).

I don't think scale down or service delete has anything to do with orphaned tasks.

[2017-10-30 20:04] anshulpundir commented on #2407
OK yea, I see your point.

[2017-10-30 20:13] nishanttotla commented on #2407
Thanks for the comments, @aaronlehmann and @anshulpundir. So to summarize, what we need to do here is:

1. For service deletion, we delete the service and set desired state for its tasks to `SHUTDOWN`. Then, the task reaper needs to be updated where it can handle tasks for which the service (I'm assuming the tasks still have a reference to the service) doesn't exist anymore.

2. For service scale

[2017-10-30 20:18] anshulpundir commented on #2407
We can also set the desired state to `shutdown` here. When the task reaper receives the task update event for this task and the current state is `shutdown`, it can decide to remove this task if that slot is no longer active with the service (is there a way to check this ?). This only works if slots are guaranteed to be not reused.

[2017-10-30 20:20] nishanttotla commented on #2407
@anshulpundir it's worth looking at how to tell which slots are in use. I suspect it isn't hard, but I don't know. That said, I don't think this is a very robust way either, because if there is an immediate scale up after a scale down, then a slot might actually get reused quickly, leading to the scaled down task remaining there for a long time.

[2017-10-30 20:22] anshulpundir commented on #2407
Yes, like I said, it only works if slots ids are guaranteed to not be reused.

[2017-10-30 20:25] anshulpundir commented on #2407
BTW, we should also look at making the task reaper robust enough to clean out tasks for a slot that is no longer in use, which, to me, seems like a more robust approach. @nishanttotla

[2017-10-30 21:45] nishanttotla commented on #2407
Based on an offline discussion, it seems reasonable to first tackle the case of service deletion since that is more straightforward, and involves a task reaper change that is even otherwise useful. Meanwhile, we'll continue to discuss the design for the case of service scale downs.

[2017-10-31 03:41] aaronlehmann commented on #2407
That makes sense to me. I can't think of an existing way to check if a task was sacrificed during a scale-down operation and therefore should be removed once it finishes shutting down, so something like this would have to be designed. It could be as simple as a flag on the `Task` structure. Maybe check with @aluzzardi - I'm sure he has thoughts on this.

I was thinking of suggesting the alternativ

[2017-10-31 03:51] aaronlehmann commented on #2407
Another possible idea is introducing a new state, after shutdown and orphaned, called `TaskStateRemove`. The orchestrator would set the *desired* state to `TaskStateRemove`, meaning that the the task should proceed to shut down, and then once it does, it should be removed. It would be very easy to change the task reaper so that if it sees tasks with desired state `Remove` and current state >= `Shu

[2017-10-31 06:31] aluzzardi commented on #2407
Agreed with @aaronlehmann - that was the original proposal I made offline: introducing a new *desired* state “remove”.

1) This should pretty much work out of the box on the agent side, it’s >RUNNING so it should shut it down and report back, with the additional caveat that the engine will delete it
2) Not many changes, we just need to make sure no one ever deletes a task directly (e.g. scale down

[2017-10-31 18:31] anshulpundir commented on #2407
From an orchestrator point of view, the behavior between 'shutdown' and the new proposed state 'remove' is not different. Since the orchestrator and only the orchestrator assigns states, I think it makes sense to design states from the orchestrator point of view.

[2017-10-31 21:05] aluzzardi commented on #2407
I'm not sure I understand.

Let's take service `foo`. It has 2 instances.

1) Slot 1 has 2 tasks, that was due to a service update while going from one version to another version of the image: Therefore, one task has a desired state of `running` while the older task has a desired state of `shutdown`
2) Slot 2 has one task.

Service ps looks like this:

[code]

Now let's assume we scale back to 1 r

[2017-11-01 22:01] anshulpundir commented on #2407
Chatted with @aluzzardi offline. While the task reaper behavior is different, I was assuming that that from the orchestrator point of view, both <shutdown> and <remove> will have the same effect, which is to shutdown the task through the agent. I wasn't aware that the agent behavior is also different: 'shutdown' doesn't remove the container, whereas 'remove' should. So I see that adding a new stat

[2017-11-02 04:06] yunghoy commented on #2392
Same here. I only use the default docker-ce.

This happens in live service server.
My team will move on live service state in three weeks, but I've found a ton of critical Docker bugs which cannot be accepted on live service.
Especially, most bugs are related to swarm mode network, discovery, or something like this bug.
This is a stupid bug. If you don't have any good programmer in kernel or syste

[2017-11-02 21:20] stevvooe commented on #2401
@vielmetti I've LGTM'd the PR.

@thaJeztah Can this make 17.11?

[2017-11-03 08:15] sakeven opened #2424 "Network not found when a service container connect to"
I create a overlay network called `foo`.  When I connect a container from service to the network, it says "network foo not found". Then I connect a container outside service to the network, it successes. And then I can connect containers from service to the network properly.

docker version:
[code]

[2017-11-03 19:28] nishanttotla commented on #2424
@sakeven can you please tell us more about how you created the service, and what commands you're using to connect service containers (and others) to the network, along with the exact error messages?

[2017-11-06 02:40] sakeven commented on #2424
Network foo detail:
[code]

Create a service called 2048game

[code]
Connect network and 2048game container. And it failed.

[code]

Then create a new container called new2048.
[code]

Connect foo and new2048. It succeeded.

[code]

Now connect foo and container of service 2048game. It succeeded.

[code]

[2017-11-07 00:25] nishanttotla commented on #2392
@yunghoy can you post the output of `docker service inspect` for the service you're running? It seems like this might be a plugin filter issue like I suspected earlier. While I couldn't see an obvious reason at first, this *may* be related to the fact that @MLescaudron's service had a bind mount. I would like to see the details of your service to confirm this.

[2017-11-07 00:49] nishanttotla commented on #2392
@yunghoy @MLescaudron would you also be able to provide specifically how you created the service (as in the `docker service create` command that you used)?

[2017-11-07 01:18] nishanttotla commented on #2392
@vide I don't see any reference to the syslog driver in your service inspect, and as a result, the swarm plugin filter is unable to find it. It is possible that you're running into a bug which is coming up because I believe older daemon versions didn't report log driver names.

cc @thaJeztah

[2017-11-07 08:02] morph027 commented on #2392
@nishanttotla  bootstrapping a test cluster right now for debugging...you'll ask, i'll debug and answer ;)

Cluster will be fresh from the scratch Ubuntu 16.04 LTS with latest docker-ce

[2017-11-07 08:20] morph027 commented on #2392
# Setup

[code]

[2017-11-07 08:22] morph027 commented on #2392
# Test service with bind mounts (works)

[code]

[code]

[2017-11-07 08:27] morph027 commented on #2392
# Service with logging options which does not work

[code]

[code]

[2017-11-07 08:28] morph027 commented on #2392
If i remove the logging options it's starting up.

[2017-11-07 08:30] morph027 commented on #2392
Also, if i define the driver, it works too.

[code]

[2017-11-07 10:02] vide commented on #2392
@morph027 thanks for the debugging test, I'm using `syslog` as logging driver in my clusters so it's definitely related to the logging plugin.
@nishanttotla But I configured syslog logging driver in my docker daemon local config, and it does show up in the `node inspect`

[2017-11-07 21:42] nishanttotla commented on #2392
@morph027 @vide thanks for your responses. It indeed seems like the issue is with the logging driver. More particularly, from looking at the plugin filter, it seems like the issue is the missing name. The way the plugin filter works for log drivers is
[code]
So it seems like `f.t.Spec.LogDriver.Name` which is supposed to be "syslog" is being sent as an empty field. This is clear from the service s

[2017-11-07 22:44] wsong opened #2434 "Services' tasks should not get rescheduled if their placement constraints get updated but are still satisfied"
Today, if you update a service's placement constraints, all of its tasks get restarted. If you update a service's placement constraints and all of its current tasks are already running on nodes that satisfy those placement constraints, there's no need for those tasks to get restarted, so Swarmkit should avoid restarting the tasks in that case. It should only restart tasks that need to be moved to

[2017-11-07 22:54] vieux commented on #2392
@nishanttotla I don't see any `Name` field in the `LogDriver` in the inspects pasted above, is it normal ?

[2017-11-07 22:55] nishanttotla commented on #2392
@vieux that's my question too. The object does have a `Name` field, but clearly it's not being populated in the inspects above. The service spec comes from the daemon, which is why I'm wondering why the name isn't being included there.

[2017-11-07 22:57] vieux commented on #2392
oh ok I get it, I'll take a look.

[2017-11-07 23:14] nishanttotla commented on #2400
https://github.com/moby/tsc/pull/15

[2017-11-07 23:19] nishanttotla commented on #2434
Doing this might probably require some architectural changes. AFAIK, it is the scheduler which looks at constraints to make scheduling decisions, while the orchestrator decides if the service needs to be updated (and old tasks shut down). If we did the above, the orchestrator would have to avoid doing that in the case when only service constraints are updated, and let the scheduler decide how to p

[2017-11-07 23:28] anshulpundir commented on #2434
Avoiding restart if its not really needed seems like the right thing to do and a reasonable change in behavior to me.

[2017-11-08 16:20] cpuguy83 commented on #2392
I think swarm should handle this case.
This is basically delegating the log driver to whatever the default on the target node is.
Having dockerd set this default for the service spec doesn't seem quite right to me.

[2017-11-08 16:20] cpuguy83 commented on #2392
Specifically, the filter should have a special case for an empty driver name.

[2017-11-08 19:47] nishanttotla commented on #2392
@cpuguy83 thanks for clarifying that, this is something I was wondering about. I'm not sure why we have the filter designed as it is for log drivers, but I'll submit a PR to take care of empty driver names.

[2017-11-08 19:50] cpuguy83 commented on #2392
@nishanttotla

 Because we support plugins for log drivers.

[2017-11-09 21:52] valeriomazzeo opened #2437 "Service names containing a dot can't be deployed"
Looking at https://github.com/docker/compose/issues/1519 it seems legitimate to be able to name a service something like `my-service.local`.

Although that's possible, deploying a stack from a `docker-compose` file containing a service which contains a `.` encounters the following error:
`name must be valid as a DNS name component`

This is due to:
https://github.com/docker/swarmkit/blob/master/ma

[2017-11-10 19:42] nishanttotla commented on #2401
Closing this issue since https://github.com/docker/swarmkit/pull/2411 was merged. This change will be part of 17.11.

[2017-11-10 19:42] #2401 closed

[2017-11-10 20:10] stevvooe commented on #2437
Dots are disallowed in service names since they become part of the DNS name. This restriction cannot be relaxed.

[2017-11-10 22:10] #2392 closed

[2017-11-11 21:34] BretFisher commented on #2369
What I see people doing in the wild, in cases like a AWS "worker ASG", is they end up setting a daily cron on manager to remove any worker nodes marked down 😂 , which is obviously not the goal here with the existing two-step process, and creates edge cases of removing nodes that might only be offline temporarily, etc.

If an authenticated worker were to request removal as part of its `swarm leave`

[2017-11-11 22:40] thaJeztah commented on #2369
Perhaps having some way for nodes to indicate they explicitly _left_ the swarm, and having a `docker node prune` command would help for those setups. (I do see it not being entirely matching the original design of managers being in control over nodes / nodes leaving)

From a UX perspective, my ideal would be to have a `docker node create` command (which would (e.g.) integrate with infrakit) to cre

[2017-11-12 19:00] BretFisher commented on #2369
I like the idea of maybe an additional `Availability` option of `removed` or `left`. I guess the benefit of that over `docker swarm --leave` also causing an automatic `docker node rm` is that you keep the history in the node list.

Also, for those of us wanting this all auditable, the `Availability` actions (active/pause/drain) already produce `docker events` when changed, so an additional option

[2017-11-13 06:28] christopherobin commented on #2367
@nishanttotla Just had the same issue happen, the node was a worker running about 10 stacks making for 30+ services.

The Docker process was using about 10GB of memory and I decided to restart it, I went with the following procedure:

1. Set the node to drain mode
2. Restart docker

Upon restarting I noticed two things:

* The node would not connect to the Swarm (doing `node ls` on the manager wou

[2017-11-13 06:37] christopherobin commented on #2367
[code]

[code]

[code]

[code]

So it seems to be an issue with docker never compacting the database?

[2017-11-13 17:08] Alphonse-Sadish opened #2441 "docker swarm"
Hello
I have a little problem with i swarm join manager.
Error response from daemon: manager stopped: can't initialize raft node: rpc error: code = Unknown desc = could not connect to prospective new cluster member using its advertised address: rpc error: code = DeadlineExceeded desc = context deadline exceeded

But when i put docker node ls in other server, i can see the name of machine but his s

[2017-11-14 00:23] stevvooe commented on #2407
A new state is not needed here. There is already a shutdown state. Remove is implicit by removing from the assignment set. When the task is removed from the assignment set, `Remove` gets called. This ensures that whether or not the orchestrator knows about a task, the agent removes its resources.

This is not true, at all. Actually, task state is assigned and observed by the agent once the state i

[2017-11-14 03:24] nishanttotla commented on #2407
Can you elaborate on this? Who removes the task from the assignment set?

[2017-11-14 04:06] stevvooe commented on #2400
What was the vote submitted on behalf of swarmkit?

[2017-11-14 07:09] edesai commented on #1340
Are there any updates on this?

[2017-11-14 17:23] nishanttotla commented on #2400
Yes it was. Closing this issue now.

[2017-11-14 19:30] stevvooe commented on #2400
@nishanttotla No, I mean how was the order chosen?

[2017-11-14 21:13] megastef commented on #1605
Any news for --pid=host in swarm services? We would need it for monitoring agents deployed global service on each swarm node.

[2017-11-14 21:37] stevvooe commented on #2407
The dispatcher, on behalf of the orchestrator. When the agent find that it has a task outside the current assignment set, it will remove the task from the local agent. This ensures that the agent can collect tasks that the orchestrator no longer has knowledge of.

[2017-11-14 23:07] stevvooe opened #2444 "protobuf: update protobuf compiler"
A new version recently came out: https://github.com/google/protobuf/releases/tag/v3.5.0.

We need to make sure that we don't fall behind so we should update the protobuf compiler used for the build.

This may require updates to the grpc/protobuf etc., but that may not be necessary.

[2017-11-14 23:24] fcrisciani commented on #2388
@schmunk42 can you attach the go routine stack trace? You just have to send the signal SIGUSR1 to the `dockerd`.

[2017-11-14 23:47] stevvooe commented on #2444
Looks like the permissions changes in the default protobuf compiler file, so you'll have to set include as readable and set executable on the binary. See https://github.com/containerd/containerd/pull/1761 for an example.

[2017-11-15 05:56] sakeven commented on #2424
@nishanttotla PTAL

[2017-11-15 11:45] sirlatrom commented on #2434
Swarm already knows not to restart tasks if e.g. only changing the replica count or changing service labels (not container labels, they will always cause task restarts). Changes only affecting service metadata, or constraint changes where a current placement is still valid, really shouldn't affect those existing placements.

[2017-11-15 18:21] nishanttotla opened #2445 "TestUpdateNodeDemote is flaky"
Originally seen on #2433: https://circleci.com/gh/docker/swarmkit/8174?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Opening this issue to keep track just in case it shows up again.

[code]

[2017-11-15 19:54] bmmathe commented on #1365
@dperny I was planning on doing the exact same thing using jwiler/nginx-proxy so I don't have to manually manage a conf file every time we deploy a microservice.

If this solutions is "wrong", what would you suggest the "right" solution to be?  I personally don't care what  tech we use for the reverse proxy as long as it's automatic.

[2017-11-16 00:03] nishanttotla commented on #2445
I'm seeing this exact same failure on the master branch too now. I think we need to investigate this @anshulpundir @dperny

[2017-11-16 21:41] #2444 closed

[2017-11-16 22:10] nishanttotla commented on #2424
PIng @fcrisciani @abhi is this expected behavior?

[2017-11-16 22:14] nishanttotla commented on #2445
I also saw some other test fail today, seemed timing related. I failed to get the details, but will look out for it. Something is definitely wrong, SwarmKit tests were never this flaky.

[2017-11-17 19:30] anshulpundir commented on #2416
Discussed this with @nishanttotla @dperny offline, but in-case there are any comments. Also cc @aaronlehmann

[2017-11-17 19:31] nishanttotla commented on #2407
Quoting from @stevvooe's comment https://github.com/docker/swarmkit/pull/2446#issuecomment-345102994 here so that we have full context in this issue:

This is correct.

The primary need for a new state (also discussed in some comments above) seems to be coming from the case of service scale down, where we wish to remove tasks, but also distinguish them from shutdown tasks that would otherwise be k

[2017-11-18 17:05] #2204 closed

[2017-11-19 18:44] aaronlehmann commented on #2416
I agree that streaming snapshots is the way to go.

If we are moving to streaming, why is it necessary to split the snapshot into smaller chunks?

Surely it would fall back to sending the snapshot the old way if it fits within the size limit?

[2017-11-20 06:04] anshulpundir commented on #2416
grpc streaming doesn't do the splitting. We need to split the snapshot and stream individual chunks over the stream.

Yes, we'll only stream if its larger than the max message size.

[2017-11-20 06:08] aaronlehmann commented on #2416
Ah, got it now.

[2017-11-21 00:49] stevvooe commented on #2407
Great, but after reviewing, I brought forth several concerns.

The trouble I see here is that the primitives are already available in the agent. Task state is about the orchestrator-agent communication, but, here we are, using it for ascertaining state in the orchestrator. Something seems wrong about that change and I have concerns about the possible side-effect. In fact, as pointed out in the PR,

[2017-11-21 18:37] nishanttotla commented on #2441
@Alphonse-Sadish it seems that the node you're trying to join as manager is actually down and unable to connect to the other manager. Can you try restarting it?

[2017-11-21 18:45] nishanttotla commented on #2410
@sudharkrish are you only using `swarmctl`? It is possible that `swarmctl` is behind `swarmd`. Do you also see this issue when you use Docker Swarm Mode and create secrets using the Docker CLI?

[2017-11-22 01:57] jzyao opened #2459 "Duplicated entry for manager address in docker info"
## What's the problem/feature request?
customer has a original issue docker daemon can't start in one swarm worker node.
after troubleshooting, the issue was fixed . and then found some duplicated entry in `docker info`
actually  the cluster has 3 managers, and customer just restarted the node  20 days ago.  no other action like remove/rejoin recently

`docker info`  （worker node）
Dockers-MacBook-

[2017-11-22 02:39] jgeyser commented on #2459
![image](https://user-images.githubusercontent.com/27277469/33107250-5180acd4-cf71-11e7-8ea8-daf61ee55c40.png)

[2017-11-22 02:41] keyolk opened #2460 "hit panic at swarm manager, panic: runtime error: invalid memory address or nil pointer dereference"
I have 3 of docker swarm mode manager,
and today 2 of them got panic and dead.

machine1
[code]

dmesg on machine1
[code]

machine2
[code]

[code]

[code]

[2017-11-22 02:54] jzyao commented on #2459
![image](https://user-images.githubusercontent.com/10100620/33107704-71e1f314-cf73-11e7-9c9e-ae47865820c0.png)

![image](https://user-images.githubusercontent.com/10100620/33107696-621fc8b6-cf73-11e7-93d1-117eb873e15d.png)

[2017-11-22 04:34] keyolk commented on #2460
found there no nil check for network
https://github.com/docker/swarmkit/blob/2591ac368b6a8ae1c6f8438874e62f8e4778450c/manager/controlapi/network.go#L177

and it is fixed on 17.09.ce

https://github.com/docker/docker-ce/blob/17.09/components/engine/vendor/github.com/docker/swarmkit/manager/controlapi/network.go#L174

[2017-11-22 04:34] #2460 closed

[2017-11-23 04:12] jgeyser commented on #2459
@jzyao see #241

[2017-11-23 04:21] #2459 closed

[2017-11-28 13:02] schmunk42 commented on #2388
@fcrisciani This is the log generated by SIGUSR1
https://gist.github.com/schmunk42/2c131c972f95f74ba96cdd38aca34ded

These are entries in `daemon.log` popping up every few seconds without any trigger, just by running the broken stack

[code]

[2017-11-28 13:43] naffiq commented on #2344
Had this issue when our machine run out of space, maybe this might help to someone

[2017-11-28 23:50] fcrisciani commented on #2388
@schmunk42 found the issue, working on a fix, this is the PR that introduced the regression https://github.com/moby/moby/pull/34188
In particular the line: https://github.com/moby/moby/pull/34188/files#diff-470d751551967a09e51effadaf1d5cf4R59

There is some logic in https://github.com/moby/moby/blob/master/daemon/cluster/executor/container/controller.go#L186 that expects the type ErrNoSuchNetwork

[2017-11-29 20:14] anshulpundir opened #2462 "Race in manager startup codepath"
Manager.Run() calls handleLeadershipEvents() as a go routine and may access objects in the store before the store is completely initialized. The race is with raft.Node.Run(), which is responsible for applying the raft log to the store.

An example is KeyManager init which happens within handleLeadershipEvents(), which does a lookup of the cluster object. If the raft log is big and modifies the clu

[2017-11-29 21:39] dperny commented on #2462
What happens if the call `m.handleLeadershipEvents()` gets pushed to the end of `Run`?

[2017-11-29 23:15] anshulpundir commented on #2462
you mean call m.handleLeadershipEvents() after calling raft.Node.Run() ? raft.Node.Run() has a for {} so this will require some restructuring. @dperny

[2017-11-30 00:40] dperny commented on #2462
we could also wait to acquire a lock in `handleLeadershipEvents` that isn't available until the Critical Point in the code is reached (wherever that is)

[2017-12-01 12:30] marcin33 opened #2465 "Healthcheck prevent container to use "tasks.xxx" address"
When using healthcheck on Elasticsearch containers I cannot start a cluster. Elasticsearch containers cannot connect to each other by "tasks.xxx" address. When not using healthcheck everything is fine.

docker version:
[code]

docker info:
[code]

compose file:
[code]

after execute `docker stack deploy -c 3mdi.yml devl`, i'm checking logs from first instance:
[code]
and the status of container by

[2017-12-02 00:16] andrewhsu commented on #2352
@dperny i think the `bump_v17.06.0` branch was missed in the deletion process:
https://github.com/docker/swarmkit/tree/bump_v17.06.0

There already exists a `bump_v17.06` branch that is kept up-to-date with the docker products.

cc @marcusmartins

[2017-12-05 15:04] nishanttotla commented on #2352
I'm going to remove bump_v17.06.0. We've been doing all cherry-picks to bump_v17.06.

[2017-12-06 23:34] anshulpundir commented on #2374
Fix in https://github.com/docker/swarmkit/pull/2458

[2017-12-06 23:34] #2374 closed

[2017-12-07 08:32] #2264 closed

[2017-12-08 12:15] sungwonh commented on #2434
When a service is updated, `Updater` checks all the tasks to determine which tasks need updating. If `Updater` can check scheduling constraints and update task's placement constraints as below, it would avoid unnecessary task restarting.

What do you think about the below code?

https://github.com/docker/swarmkit/blob/master/manager/orchestrator/update/updater.go#L523
[code]

[2017-12-09 22:19] borfast commented on #1160
It has been over a year since this has been discussed. Is it still being considered?

[2017-12-13 17:47] friism commented on #2407
https://github.com/docker/swarmkit/pull/246 (carry of https://github.com/docker/swarmkit/pull/2446) has been merged - does that mean this issue has been addressed and can be closed?

[2017-12-14 22:44] #2416 closed

[2017-12-15 02:42] AntaresS opened #2471 "docker node promotion of multiple nodes failed on large cluster"
Issue: In a large size swarm cluster, e.g. 500 nodes, when I do `docker node promote <node1> <node2>`. It returns two nodes have been promoted to manager. However, if run `docker node ls`, it seems like one of the two nodes is still displayed as regular worker. If I ssh into that node supposed to be promoted to a manger and run `docker node ls` there, it just hangs forever. After while if I perfor

[2017-12-22 19:17] abronan opened #2479 "Tests failures on master"
Hi there,

Just an FYI, I simply tried running the tests on master but I get recurrent failures. Interestingly, I don't get these failures if I go way back in the commit SHA (say, commit 2c47a1eacc5d30deb8c5fab4f43fdb224392f8eb, where I get no errors).

The first one is network related:

[code]

The second one is on raft's `TestReadRepairWAL` test:
[code]

Both these failures happen every time I r

[2017-12-28 21:51] nishanttotla commented on #2407
@friism we have addressed the root cause of the issue. We can close this issue now (there will still be some more work on testing).

[2017-12-28 21:51] #2407 closed

[2018-01-01 13:18] abronan commented on #2479
Seems like it's just mac OS/Docker for Mac related as I have the build succeeding on my ArchLinux machine but the build failing on two different mac OS machines (on High-Sierra).

[2018-01-02 20:21] caveman280 opened #2480 "Make Binaries failed"
Hi there, I tired building swarmkit, but it failed...
I used the following commands:
`docker run -it --name swarmkitbuilder -v `pwd`/swarmkit:/go/src/github.com/docker/swarmkit golang:1.6 bash`

`root@6f26810fa079:/go# cd /go/src/github.com/docker/swarmkit`

`root@6f26810fa079:/go/src/github.com/docker/swarmkit# make binaries`

And got the result:
`🐳 bin/swarmd`

`vendor/github.com/containerd/cont

[2018-01-02 21:30] thaJeztah commented on #2480
Can you try with Go 1.9? I think the containerd dependency requires Go 1.9 to build; https://github.com/containerd/containerd/blob/master/BUILDING.md#build-requirements

[2018-01-02 21:33] caveman280 commented on #2480
Bingo! thank you!!

[2018-01-02 21:33] #2480 closed

[2018-01-02 21:47] thaJeztah commented on #2480
Great!

[2018-01-02 22:59] stevvooe commented on #2479
I don't think either of these test paths are machine specific, so this is a bit of a surprise.

Would you be willing to do a more accurate bisection? :P

[2018-01-02 23:06] stevvooe commented on #1160
@borfast Did you try the suggestion in https://github.com/docker/swarmkit/issues/1160#issuecomment-237727853? The main issue with this proposal is that "node labels" are set by the operator, not the node and allowing a node to do that would be against the security model.

Engine labels are exactly for this task.

If engine labels don't work, we'd be interested in hearing an alternative proposal.

[2018-01-02 23:54] borfast commented on #1160
@stevvooe, I did not try that. It would require that I modify the default Docker installation on each node and that feels quite hacky and cumbersome. Besides, I don't want to set a system-wide label on Docker because I may need to run other things there which may clash with that label.

I have automated infrastructure creation and configuration with Terraform and Ansible for a non-trivial range of

[2018-01-03 21:06] ph-One commented on #2273
This error message exists on the [newly released] `17.12.0-ce` as well... Makes CI/CD sort of a pain when we have to write scripts to clean-up "left-overs".

`docker stack deploy -c ./mycompose.yml example`
`docker stack rm example`

(`docker ps -a` shows many containers that have exited, are part of the stack, but are not removed.)

`dockerd[5638]: time="2018-01-03T15:59:06.688510920-05:00" level

[2018-01-03 22:48] anshulpundir commented on #2471
Can you please share the following:

1. Docker deamon logs from the time when the promote happens.
2. Number of managers from when the promote happens.
3. Size of the raft snapshot:
  ls -ltr /var/lib/docker/raft/snap-v3-encrypted/

@AntaresS

BTW, when opening product bugs in swarmkit, I'd advice always including the deamon logs. Thx!

[2018-01-04 12:23] wangxf1987 opened #2481 "How to use the store api?"
Hi guys,
    How to use the store api?
[code]

but above code have some erros in logs.
[code]

I no idea for that...., and i refer to https://github.com/docker/swarmkit/blob/master/design/store.md

[2018-01-05 22:19] anshulpundir commented on #2434
Chatted with @nishanttotla about this today. Capturing it here:

1. Decide what changes to the spec don't require a restart for reconciliation. Provide APIs for these. For placement constraints, which is a scheduler concept, there should a scheduler API to decide if current node meets the placement constraints.
2. Change updater code to avoid restart if the changes made to the spec don't require r

[2018-01-08 22:16] nishanttotla commented on #2434
Ping @docker/core-swarmkit-maintainers

[2018-01-09 12:50] schmunk42 commented on #2388
@fcrisciani Any updates on this one? Is a fix already available in a release?

[2018-01-09 18:43] fcrisciani commented on #2388
@schmunk42 sorry for not following up, 17.12 contains the fix, can you please verify on that release?

[2018-01-11 13:52] xtuc opened #2484 "Passing labels to swarmd"
Currently the way (according to the documentation) you can add a label to a node is with the `swarmctl node update <node ID> --label foo=bar` command, from an Op point of view it's not super simple to use because you need to maintain a list of Node id vs the information you want to store in it.

Ideally I would like to pass my labels at the startup of swarmkit. The docker daemon has such feature;

[2018-01-11 14:08] endeepak commented on #2354
We had this requirement in our deployment. We've built a service which can poll for metrics and scale the services accordingly. Our code is open sourced here -> https://github.com/sahajsoft/docker-swarm-service-autoscaler

[2018-01-11 14:29] endeepak commented on #1663
We needed autoscaling based on metrics stored in prometheus. We built a service which uses docker API to scale based on metrics from prometheus https://github.com/sahajsoft/docker-swarm-service-autoscaler

[2018-01-11 18:32] fcrisciani commented on #2424
@sakeven did you already try 17.12? is this still reproducible?

[2018-01-12 20:11] dperny commented on #961
@jpetazzo I'm going through and closing old issues. Does the synchronous service creation (with progress bars and stuff) that made it in a while back cover your use case?

[2018-01-12 20:14] dperny commented on #1145
Been over a year with no response from the reporter. Closing. If this is still a real issue, start by filing a bug upstream in moby/moby.

[2018-01-12 20:14] #1145 closed

[2018-01-12 20:19] dperny commented on #1155
Upstream issue says fixed.

[2018-01-12 20:22] dperny commented on #1225
Over a year with no response. Closing.

[2018-01-12 20:22] #1225 closed

[2018-01-12 20:24] dperny commented on #276
i don't even know what this means without context. it's over a year old. if it was important enough, it would have gotten done. if it becomes important, someone will open a new issue and do it later.

[2018-01-12 20:24] #276 closed

[2018-01-12 20:24] dperny commented on #280
pretty sure we did this.

[2018-01-12 20:24] #280 closed

[2018-01-12 20:26] #1015 closed

[2018-01-12 20:28] #1246 closed

[2018-01-12 20:30] dperny commented on #502
@stevvooe can we close this?

[2018-01-12 20:32] dperny commented on #1368
Plenty of swarm mode docs exist now.

[2018-01-12 20:32] #1368 closed

[2018-01-12 20:39] dperny commented on #292
Ancient issue, swarm mode has plenty of docs now.

[2018-01-12 20:39] #292 closed

[2018-01-12 20:41] dperny commented on #1171
It must be fixed or we'd have updated something in this issue.

[2018-01-12 20:41] #1171 closed

[2018-01-12 20:45] dperny commented on #1759
We have internal e2e test now. Closing this issue.

[2018-01-12 20:45] #1759 closed

[2018-01-12 20:45] dperny commented on #1439
Fixed per OP. Closing.

[2018-01-12 20:45] #1439 closed

[2018-01-12 20:46] dperny commented on #1464
Closing this issue. If we want it later we can revisit.

[2018-01-12 20:46] #1464 closed

[2018-01-12 20:50] dperny commented on #2084
Swarm doesn't support federation or multi-tenancy. We'll open a new issue if we decide to pursue it later.

[2018-01-12 20:50] #2084 closed

[2018-01-12 20:51] dperny commented on #2085
This was beat to death in some issue which I can't remember. The consensus is  "no", because it makes everything on our end more difficult while not actually substantially improving user experience. In any case, this is an old issue in more or less the wrong repo, so I'm closing.

[2018-01-12 20:51] #2085 closed

[2018-01-12 20:53] dperny commented on #2174
Upstream is closed, so I'm gonna close this. This functionality could be build out by a particular enterprising API consumer.

[2018-01-12 20:53] #2174 closed

[2018-01-12 20:55] dperny commented on #301
I don't think there's any interest in pursuing this right now, and I don't think we need a vague issue to track it.

[2018-01-12 20:55] #301 closed

[2018-01-12 20:59] dperny commented on #1245
Closing it.

[2018-01-12 20:59] #1245 closed

[2018-01-12 21:02] dperny commented on #363
Hey wow we did this for snapshots in #2458. So I'm gonna close it.

[2018-01-12 21:02] #363 closed

[2018-01-12 21:13] anshulpundir commented on #363
This is not related to streaming snapshot across raft members @dperny

[2018-01-12 21:17] dperny commented on #2441
several months with no response. closing.

[2018-01-12 21:17] #2441 closed

[2018-01-12 21:18] dperny commented on #2410
several months no response.

[2018-01-12 21:18] #2410 closed

[2018-01-12 21:23] dperny commented on #2484
@xtuc are you using `swarmd` directly? Not through swarm mode on upstream docker? That's definitely not a recommended (and, I'll hazard to say, an unsupported) configuration.

I believe the issue with the passing labels on startup is one of security. It's better for node labels to be centralized on the managers, instead of being reported by the workers, and this includes on join. This way, you cou

[2018-01-12 21:25] dperny commented on #2481
@wangxf1987 the data store for swarmkit is for internal use; I don't believe it's exposed to external services. What are you trying to accomplish?

[2018-01-12 21:33] dperny commented on #2465
Ok my best guess as to what's happening is the health-check isn't passing yet, which probably (I think) means that traffic isn't getting routed to the service that's still coming up (so tasks.servicename doesn't work), and then your elasticsearch service isn't build to handle another replica not being available and it crashes.  As to why the specific healthcheck is failing? Not sure. Try `127.0.0.

[2018-01-12 22:42] jpetazzo commented on #961
Yes!

On Jan 12, 2018 21:44, "Drew Erny" <notifications@github.com> wrote:

[2018-01-12 22:46] #961 closed

[2018-01-13 19:00] xtuc commented on #2484
Yes, I'm using swarmkit directly.

That sounds very bad to me, could you indicate me why it's not recommended? swarmkit has a more advanced scheduling mechanism, right? I recall seeing a talk at DockerCon about that.

It seems that the difference between swarm standalone/mode and swarmkit is not always clear, could we add a few lines about it in the README?

I understand the security concern here.

[2018-01-15 07:29] schmunk42 commented on #2388
@fcrisciani I can confirm this is fixed. I tested it with 18.01. Thank you!

[2018-01-15 07:29] #2388 closed

[2018-01-15 07:31] fcrisciani commented on #2388
@schmunk42 no problem

[2018-01-15 11:47] feketegy commented on #1077
So what's the status on sticky sessions?

[2018-01-16 08:12] wangxf1987 commented on #2481
@dperny I want to store data to the memory store, but can not be achieved directly. As your said, It's that not exposed to external services. I will be try be modify the code of the swarmkit.
Thanks

[2018-01-16 21:43] dperny commented on #2484
Yes, sorry, there's been a misunderstanding here. Swarm standalone (we often refer to it as "Swarm Classic") is a separate piece of software that's used to orchestrate many Docker engines together. It's very simple and didn't meet many people's orchestration use cases. It's a separate project, at github.com/docker/swarm.

Swarmkit is a component. It has a standalone client and daemon, but we mostl

[2018-01-16 21:43] #2484 closed

[2018-01-16 23:26] dperny commented on #2481
You're welcome. Exposing the memory store to external services is nontrivial, but you're welcome to try.

[2018-01-16 23:26] #2481 closed

[2018-01-16 23:27] dperny commented on #2437
Question answered!

[2018-01-16 23:27] #2437 closed

[2018-01-16 23:29] dperny commented on #2424
No response in a long time from the reporter. In addition, you should avoid manually attaching service containers to an overlay network. In additional addition, this is an issue with upstream docker, not with swarmkit. So, I'm closing this issue.

[2018-01-16 23:29] #2424 closed

[2018-01-16 23:31] dperny commented on #2381
Would require updating the agent and dispatcher to be able to live-restore containers. Not sure how difficult it would be. Adding some labels to track this, but not providing any answers on when it might get done. Y'all are certainly welcome to provide a pull request though.

[2018-01-17 05:32] wangxf1987 commented on #2481
Yes, I know that exposing the memory store api is risky, but we have a speical needs, that keep the ip address to the contianer under swarm mode. This is a violation of community principles.

[2018-01-18 16:46] RehanSaeed commented on #1895
I'd be happy with ` docker service exec` entering a random container. Getting into a short lived container for trouble shooting is a nightmare at the moment.

[2018-01-18 21:28] duro commented on #1895
I tend to agree that a random container would be fine. I need this to run things like crons and cleanup scripts before teardown, so any of the containers would suffice.

Alternatively, you could pass one of the IDs of the running processes that show up when running `docker service ps <service_name>`

[2018-01-19 10:22] rdxmb commented on #1895
just wrote a workaround through ssh and bash for that. Maybe it is helpful for somebody.

https://github.com/rdxmb/docker_swarm_helpers

[2018-01-19 14:13] vadimkorr commented on #2160
Hi all, facing same issue with Windows Server with containers on Azure (Docker version 17.06.2-ee-6, build e75fdb8) and Ubuntu Server on Azure (Docker version 18.01.0-ce, build 03596f5) on the same swarm. So, containers hosted on Ubuntu can ping Windows container, but Windows hosted containers, unfortunately, cannot see Ubuntu hosted containers.

Please, any news about that?
Thank you in advance

[2018-01-19 21:57] AntaresS commented on #2471
@anshulpundir Here are the logs from the leader node

There were initially 1 leader in a 800-node swarm cluster. And after a promotion command `docker node promote swarm-800-ubuntu-1 swarm-800-ubuntu-2`, one of them failed. In this example, the failed one is `swarm-800-ubuntu-2`.

As for raft snapshot size, I couldn't get it. The issue reproduction is done on ubuntu 16.04
[code]

[code]

[2018-01-19 22:41] xoron commented on #901
hi i am experiencing this issue. can someone please advise me on how to fix this issue? i do not know what "scheduling availability" means.

[2018-01-23 22:40] abjinugu commented on #2344
agree with @naffiq
"docker system prune" resolved it..

[2018-01-25 20:14] anshulpundir commented on #2434
https://github.com/docker/swarmkit/pull/2490

[2018-01-28 16:46] rubidot commented on #1429
I ran into this issue, and got it working with @vguna's tips. In particular, I had to set the --advertise-addr on my worker node to the external IP.

My concern is, while my manager node as a fixed IP, my worker nodes have dynamic IPs. According to the docs, [this should be fine](https://docs.docker.com/engine/swarm/admin_guide/#configure-the-manager-to-advertise-on-a-static-ip-address), and I've

[2018-01-29 11:46] cima commented on #1429
`--advertise-addr` was the silver bullet for us. Documentation says you can use this switch with NIC's name like `--advertise-addr eth0:2377` where eth0 is address independent and fits your requirement of nodes with dynamic IP address. Same as we have.

See [--advertise-addr value](https://docs.docker.com/engine/reference/commandline/swarm_join/#--advertise-addr-value)

[2018-01-29 16:34] blaggacao opened #2493 "[PROPOSAL] align mount directories between secrets and configs"
I'm semantically lost in the FHS

One thing is clear to me, and I understand it's intention is the adoption of `/run/` as emerging best practice. I like containers to use it for runtime components supplementing the stateless base executable.

As to date there is a tendency to use it for:

1. init scripts
2. mounting secrets `/run/secrets/`

However, configs are just mounted to `/foo` by default. D

[2018-01-29 16:35] #2493 closed

[2018-01-30 02:01] tiborvass opened #2494 "Service rm/scaledown in an old-worker w/ new manager cluster"
https://github.com/docker/swarmkit/pull/2461 fixed an important bug, but introduced another one in a specific scenario that you can reproduce as follows:

- 2 node cluster: 1 manager and 1 worker with older swarmkit (aka before that PR)
- create a service with 5 replicas
- upgrade manager to newer (aka with that PR)
- remove service (or scaledown to 1)

The tasks are marked as REMOVED but no one i

[2018-01-30 05:52] nishanttotla commented on #2494
@tiborvass to be clear, where is the `Removed` bool field being added, and what is the exact workflow?

[2018-01-31 11:40] rubidot commented on #1429
Thanks @cima, I think this is the right direction.

When I do `ifconfig -a` on my worker node, I don't see any interfaces using my external IP address, just the internal one. The worker is behind a router, which forwards the necessary ports to the worker server. In this case, would my server even have a network interface associated with the external IP?

[2018-01-31 12:57] cima commented on #1429
Externality in this case is not meant to the Internet but to dockers virtual networks. The key is to have direct connectivity (no NAT on the way) from worker node to manager node and vice versa. The goal is that master knows IP address of each worker that joined him. Due to fun side effects of multiple NICs being present at worker and some lazy implementation of master the IP address must be told

[2018-01-31 23:01] nishanttotla opened #2497 "Synchronous service removal"
Since we support synchronous service create and update (https://github.com/moby/moby/pull/31144), it would be worthwhile to think about synchronous service removals.

One of the reasons for this is the following: Currently the service object is deleted right away, while tasks are set to desired state `REMOVE`, and eventually removed when the containers are stopped. During the period when shutdown

[2018-02-01 00:19] nishanttotla commented on #2445
Closing issue because flakiness does not occur anymore. Feel free to reopen if required.

[2018-02-01 00:19] #2445 closed

[2018-02-01 00:22] nishanttotla commented on #2465
@marcin33 is this issue still occurring?

[2018-02-01 00:55] anshulpundir commented on #2497
I would also suggest capturing the + and - for both the approaches. #1 Keeping the service object in the store around until the remove is complete makes sense and allows the service tasks to be inspected while the remove is in progress.

It is not clear to me what we gain by doing #2. Does this enable new use-cases ?

[2018-02-01 16:24] pepijnblom commented on #1160
Is there no solution to this yet? We are running into the same problem with autoscaling instance groups on Google Cloud.

[2018-02-01 22:16] nishanttotla commented on #2497
@anshulpundir what we gain by doing 2 is that the end to end API behavior becomes more consistent with `service create/update`. Either way, I am guessing that the first requirement might be to do 1 anyway, whether or not we decide to change it at the API level.

Also cc @aaronlehmann

[2018-02-02 04:02] aaronlehmann commented on #2497
That wouldn't really be an API change. It would be a CLI change.

[2018-02-02 10:51] Charleslvn opened #2500 "invalid memory address or nil pointer dereference"
Hello,

when i am trying to test manager/state/raft/transport, it fails with :

+ go test -buildmode pie -compiler gc -ldflags '-X github.com/docker/swarmkit/version.GitSHA=46ee581f6d737743802fc680d1ba9a7cf0d1465d -extldflags '\''-Wl,-z,relro  '\'''
time="2018-01-31T12:45:15+01:00" level=error msg="error streaming message to peer" error="rpc error: code = ResourceExhausted desc = trying to send me

[2018-02-05 11:38] abronan commented on #2479
Yeah seems surprising to me as well. Sorry I didn't have much time recently, I was pretty busy. I started working on extracting the raft library for another use, I should be able to find out what's going on here depending on how much time I have allocated for this.

Still encountering the error (on the raft part at least) after extracting the core parts of it.

[2018-02-05 14:58] abronan commented on #2479
I can already tell that upgrading the etcd/raft dependency to `v3.3.0` fixes the issue somehow. Still a mystery why though, have to visit etcd's tree to figure out what broke in that specific version vendored in swarmkit.

[2018-02-06 01:36] anusha-ragunathan opened #2504 "Certain bind mount propagation flags for service create are not applicable"
When creating a service, user can add bindmounts. For such mounts, mount propagation flags can be set to either of shared(rshared), private(rprivate) and slave.

The problem is, only slave/rslave is applicable here. shared and private are not applicable and here's why:
In order to perform mounts inside the container and consequently be able to propagate it to the host, the service will need to hav

[2018-02-06 18:39] stevvooe commented on #2504
I would expect this to change in the future. This is a glaring omission in functionality and was supposed to be resolved through entitlements.

We can reserve the existing flags for when capability changes are available.

[2018-02-06 19:35] anusha-ragunathan commented on #2504
Can we update any reference docs at the least?

[2018-02-06 23:34] nishanttotla commented on #2497
Here's a proposal for this change:

1. Add a `Removed` field to the Service object.
2. Instead of deleting the service when `RemoveService` is called in the controlapi, we set the `Removed` field to `true`. Something like

[code]
3. In the orchestrator, instead of listening for `api.EventDeleteService`, we use the case for `api.EventUpdateService` and check for the `Removed` flag being set to init

[2018-02-07 07:22] JohanSpannare commented on #1077
Tried HTTP routing mesh with sticky session yesterday. And it still dosent work. HAproxy registers for http. But not for SNI https. But it dont work in either case.

So when can i expect it to work?

[2018-02-07 17:02] codygee237 opened #2506 "Request For Translation"
Good Day Sir! I just want to ask if you would accept Filipino translation. I want to contribute in translating Filipino language. Thank you.

[2018-02-07 18:19] nishanttotla commented on #2506
@codygee237 can you specify what exactly you wish to translate?

[2018-02-07 19:45] dperny commented on #2497
SGTM. for backward-compat, i'm pretty sure proto will consider no value to be "false", which means old services will still work on upgrade.

[2018-02-07 23:38] anshulpundir commented on #2434
Fixed in #2490. Closing.

[2018-02-07 23:38] #2434 closed

[2018-02-08 12:41] codygee237 commented on #2506
Can I translate the README.md file to my native language which is the Filipino Language?

[2018-02-08 14:54] cpuguy83 opened #2508 "Remove RPC based plugin model"
Right now swarmkit has hooks in it for using the docker RPC plugin model.
What this means is that swarmkit receives a "plugin getter" to lookup plugins in a global registry.
This feels backwards to me.

I suggest we flip this model around and have a way for things that consume swarmkit to register a driver (i.e. something that implements the correct interface for a subsystem).
This leaves it up to

[2018-02-08 18:31] nishanttotla commented on #2506
@codygee237 I am assuming you're interested in having the translation reside in the main SwarmKit repo. I think it's a good idea to make the codebase accessible. Since we currently don't have other translations, we'll need to come up with a location for where to put it, and an idea of who is going to review.

cc @thaJeztah @mistyhacks if you have suggestions.

[2018-02-08 18:38] nishanttotla commented on #2508
@cpuguy83 is there a recent motivation to suggest this change?

[2018-02-08 18:40] cpuguy83 commented on #2508
Just something that I was thinking about and having a proper mechanism that isn't tied to the moby/moby rpc model within swarmkit itself.

[2018-02-08 18:53] hairyhenderson opened #2509 "Can removal of secrets be prevented when referenced in a Service's PreviousSpec?"
Currently, the [`RemoveSecret`](https://github.com/docker/swarmkit/blob/608c4ddcf20a7e13cedf81af7ba28c2063a7288e/manager/controlapi/secret.go#L193) function will [error out](https://github.com/docker/swarmkit/blob/608c4ddcf20a7e13cedf81af7ba28c2063a7288e/manager/controlapi/secret.go#L224) when a secret is being referenced by a service's `Spec`. This is super-useful!

However, the same is not true

[2018-02-08 21:30] nishanttotla commented on #2509
I can see that it might be useful to have this behavior during rollbacks, to avoid deleting required secrets accidentally.

cc @cyli who I believe knows why it was designed this way.

[2018-02-08 22:26] tiborvass commented on #2497
IANAM but sounds good to me

[2018-02-08 22:38] cyli commented on #2509
We were trying to optimize for rotating secrets by updating the spec to point at a new secret, and then removing the previous secret once the service has been updated.  In a lot of cases, rolling back and keeping the previous secret would not work anyway, for example if the password for a service has changed and the old one no longer works.  However, that does not cover all uses cases, and you are

[2018-02-08 23:04] hairyhenderson commented on #2509
@cyli That makes sense! And you're right - the use-case where old passwords aren't valid anymore is probably the more common one.

Another way to approach this would be perhaps on the `moby/moby` side to add a `/secrets/prune` endpoint, to match the other `*/prune` endpoints. That endpoint could be a better place for the only-remove-totally-unreferenced-secrets scenario. 🤔

@nishanttotla @cyli fee

[2018-02-09 02:01] stevvooe commented on #2434
#2490 wasn't merged. Should this still be closed?

[2018-02-09 02:03] stevvooe commented on #2497
@nishanttotla Presumably, there will be a "removed" and a "delete" event.

[2018-02-09 02:04] stevvooe commented on #2497
This looks okay.

[2018-02-09 02:06] nishanttotla commented on #2434
It should have said https://github.com/docker/swarmkit/pull/2496 actually.

[2018-02-09 02:44] anshulpundir commented on #2434
Yep, #2496 is the correct one.

[2018-02-09 20:12] thaJeztah commented on #2506
Translating to different languages has been discussed at various points, but we decided to not do this: each translation will have to be maintained, and we don't have the bandwidth to keep the translations in sync.

In addition, given that all the code (including code comments, and error messages) is written in English, translating _just_ the README would not weigh out the "cost" of maintaining th

[2018-02-12 17:58] campbel commented on #347
+1 this is particularly useful on windows hosts where changing the hostname requires a restart.

[2018-02-13 21:53] nishanttotla commented on #2506
Closing this issue based on @thaJeztah's response.

Thanks for your effort @codygee237.

[2018-02-13 21:53] #2506 closed

[2018-02-16 21:36] dperny opened #2516 "Rewrite Allocator"
The Allocator code is bad. I'd hazard to say it's irredeemably bad. It's a source of constant bugs and breakages. Things are allocated twice or not allocated at all. The issues don't seem to be present (usually) in the levels deeper than swarmkit (libnetwork). Instead, libnetwork tends to give garbage responses when given garbage input.

Some examples of problems:
* A bunch of code for handling mu

[2018-02-16 21:47] dperny commented on #2516
Another example. I happened to notice this while going through the code:

https://github.com/docker/swarmkit/blob/2543c41ec5bb2646d2cebba6869016efe484d687/manager/allocator/allocator.go#L97-L109

You can't take a pointer to a loop variable. the same memory location is reused for each iteration. The value pointed to changes every time. This was a landmine waiting to happen.

[2018-02-20 22:57] #2320 closed

[2018-02-20 22:58] #2366 closed

[2018-02-20 22:58] #2373 closed

[2018-02-21 01:29] anshulpundir commented on #2516
Can you please include code snippets for the last two points in the problem statement. I tried reading the code but it wasn't obvious to me. @dperny

[2018-02-21 21:52] dperny commented on #2516
The network allocator, like, the IPAM stuff, doesn't live in the raft store. It has its own internal state. Before you can allocate new IP addresses, you have to "allocate" all of the old IP addresses that are assigned in the raft store. This involves iterating through every object (node, network, service, task) and "allocating" their assigned IP addresses. However, it's possible for an object to

[2018-02-23 01:29] cyli commented on #2479
Thanks for filing this!  I've encountered the same issues, and also on 2 different High Sierra machines, so was wondering why.  I still the WAL read/repair error on https://github.com/docker/swarmkit/commit/2c47a1eacc5d30deb8c5fab4f43fdb224392f8eb, but not the network allocator error.

[2018-02-23 18:06] cyli commented on #2479
I wonder if it's https://github.com/coreos/etcd/pull/8921, possibly something changed in high sierra?

[2018-02-23 19:43] abronan commented on #2479
@cyli That would make sense yes, as updating the vendoring to `v3.3.0` included this change on my side. I haven't tried vendoring earlier versions with High-Sierra yet to see if I was encountering the same breakage though.

Also, welcome back 🎉 🙂

[2018-02-26 23:28] cyli commented on #2479
For `TestReadRepairWAL`, I'm think it is https://github.com/coreos/etcd/pull/8921, because if I pull only those changes in that test passes for me in master.

[2018-02-27 15:42] donswa commented on #2367
@nishanttotla We are also seeing the same issue. /var/lib/docker/swarm/worker/task.db is of 5 GB.
docker version - 17.06.1-ce
Manager Status - Leader
No of Nodes - One
Is there any way to recover the space? Could you please advise clean up steps?

[2018-02-27 16:15] Mobe91 opened #2530 "Specify baseline resource consumption for nodes"
I already posted this on [docker forum](https://forums.docker.com/t/docker-swarm-specify-baseline-resource-consumption-for-nodes/44706), but got no response so far.

I have the problem that all my swarm nodes run an agent service that consume about ~400MB of memory. The swarm scheduler seems to not take this baseline usage of memory into account and thus overloads the node with tasks. Is there any

[2018-02-28 00:20] anshulpundir commented on #2500
Can you try just doing /usr/local/opt/go/libexec/bin/go test -timeout 30s github.com/docker/swarmkit/manager/state/raft/transport

[2018-03-01 15:33] cypx commented on #1895
Thanks @rdxmb

I make a less sophisticated but very similar one a few days ago ;-)
https://gist.github.com/cypx/a2b4765fc1ccb497c99f77c78d0d4933

[2018-03-05 02:05] VincentRbbmnd opened #2536 "Possible data race in manager memory test"
Found in `manager/state/store/memory_test.go` lines 2036-2054

[code]

Loop variable `c` is used within the func literal (in the statement `strconv.Itoa(c)`), possibly leading to a data race, causing all loop iterations to use the same value of `c` as mentioned [here](https://golang.org/doc/faq#closures_and_goroutines).

Two possible fixes:
  - Pass `c` as a param in the func literal
[code]
  - Cr

[2018-03-05 15:08] hichamuntitled opened #2538 "Encrypting raft logs"
I am trying to decrypt docker swarm raft logs, edit them and finally encrypt them.

I found out that I can decrypt raft logs using `swarm-rafttool decrypt`, now I am wondering how to encrypt them back.

Any ideas?

[2018-03-05 20:42] cyli commented on #2538
@hichamuntitled We do not provide a tool to encrypt them back - `swarm-rafttool decrypt` is more of a debugging tool so you can see raft history or downgrade.  We do not want to encourage editing raft logs manually - however, you can probably write a tool to [get the DEK from the TLS key](based on the code in https://github.com/docker/swarmkit/blob/master/cmd/swarm-rafttool/dump.go#L32-L39), creat

[2018-03-06 01:02] anshulpundir opened #2539 "swarm init --force-new-cluster when there are multiple managers present leads to cluster state divergence"
Doing `docker swarm init --force-new-cluster` when there are more than one managers present leads to inconsistencies in the cluster memberlist with the other managers still seeing the old cluster manager list while the manager where the `docker swarm init --force-new-cluster` was run only seeing itself as the manager.

One option is to disallow `init --force-new-cluster` when the size of the raft

[2018-03-06 01:09] stevvooe commented on #2539
@anshulpundir This is the feature. I don't see what other behavior would be expected here. `--force-new-cluster` is an intentionally destructive operation.

Should we balance this with a way to evict the forked manager?

[2018-03-06 01:29] anshulpundir commented on #2539
Makes sense. Changed the title.

I guess evicting the forked managers is probably a better approach since its backwards compatible. @stevvooe

[2018-03-06 02:47] keyolk commented on #1442
simple workaround
https://github.com/keyolk/swarmkit/commit/212a1900ba4a085d8b8f0f0da56ec9e1ce1f8f2c

[code]
two's tasks never be assigned same node which has one's task.
also one's tasks never be assigned on same node.

[2018-03-06 02:59] keyolk opened #2540 "Method to disable service mesh"
In my case,
I want to use container scheduling only.

in old version of swarmkit,
I got network related error before.

It would be nice, if I can disable default service mesh.

[2018-03-06 08:14] hichamuntitled commented on #2538
@cyli The idea behind this is that I want to be able to restore all swarm managers in new VMs, so different IPs than the ones stored in raft logs.

[2018-03-06 17:38] cyli commented on #2538
@hichamuntitled Would something like https://github.com/docker/swarmkit/pull/2199 fix your issue instead?

[2018-03-08 01:34] cyli opened #2544 "FIPS support design"
https://github.com/docker/swarmkit/pull/2535 starts to add fernet encryption to support a FIPS-compliant raft encryption algorithm.  https://github.com/docker/swarmkit/pull/2246 has already added the PKCS8 key encryption format, which is FIPS-compliant, which will store keys in a new format, but be backwards compatible with older versions of swarm, unless FIPS mode is enabled via environment varia

[2018-03-08 19:09] iTaybb commented on #2249
Any update?

[2018-03-08 23:24] anshulpundir opened #2546 "Agent unable to connect to the leader"
In this instance seen recently, the manager is aware of the cluster leader:

Mar 05 10:28:43 dockerd[1109]: time="2018-03-05T10:28:43.905167275-05:00" level=info msg="raft.node: 39500a8b3abac75d elected leader 713d480a713f8585 at term 3600" module=raft node.id=pvp0h3p6cwy157do6ajbfbhuu

But the agent session rpc is still delivered to the dispatcher on the local node:

Mar 05 10:29:14 dockerd[1109]

[2018-03-08 23:33] nishanttotla commented on #2536
This was fixed in #2537.

[2018-03-08 23:33] #2536 closed

[2018-03-08 23:34] nishanttotla commented on #2500
@Charleslvn is this still an issue?

[2018-03-08 23:54] cyli commented on #2546
https://github.com/moby/moby/pull/36326#issuecomment-367531551 seemed to be this issue as well.

[2018-03-09 00:01] anshulpundir commented on #2546
Actually I don't know this for certain. Its not clear which manager these rpcs are being routed to.

[2018-03-09 18:56] cyli opened #2548 "Role reconciler needs to look at all the nodes present and not present on startup"
An instance was seen where in a snapshot dump, a node was listed in the membership but not in the node objects in the store.  Potentially this could have happened because the snapshot occurred after the node role was changed, but before the role reconciler ticked.  However, I was looking into whether it could be possible for this to be a more permanent issue.

When a node is demoted, first we chec

[2018-03-09 20:08] anshulpundir opened #2549 "Provide use knobs to tune raft election timeout and hearbeat durations."

[2018-03-09 20:16] anshulpundir opened #2550 "Provide a reconciliation mechanism for node state"
We have seen node state, both in memory and on disk, diverge on promotes/demotes, node removes, swarm leaves etc. The goal is to take note of all node state in the system and provide a mechanism to reconcile this state in case of failures.

[2018-03-09 20:24] nishanttotla commented on #2549
@anshulpundir can you add some description to this issue? At what level do you intend for this to be exposed?

[2018-03-09 20:26] nishanttotla commented on #2550
Perhaps also related to #2548?

[2018-03-10 01:12] anshulpundir commented on #2548
Some background questions for my understanding:

1. What constitutes the cluster membership (in memory and/or on-disk) ?
2. What constitutes the node list (in memory and/or on-disk) ?

[2018-03-10 03:50] forbxy opened #2553 "how to config container's hosts like pids_limit"
I can't find anything in docker.py or ·docker service create --help·.
thank u

[2018-03-12 23:46] nishanttotla opened #2554 "Potential race condition in scheduler?"
I noticed a few instances in `manager/scheduler/scheduler.go` where some checks seem suspect. In particular, we're doing something like

[code]
in three places:

1. https://github.com/docker/swarmkit/blob/master/manager/scheduler/scheduler.go#L71

2. https://github.com/docker/swarmkit/blob/master/manager/scheduler/scheduler.go#L206

3. https://github.com/docker/swarmkit/blob/master/manager/schedul

[2018-03-13 00:47] nishanttotla opened #2555 "Task reaper does not consider some tasks for removal"
https://github.com/docker/swarmkit/pull/2461 looks at tasks with desired state `REMOVE` and only considers them for deletion if they have moved past `COMPLETED`:

[code]

This misses the case for when the service was removed and perhaps had some tasks that never got to run.

[2018-03-13 17:26] eferley commented on #2555
Hello @nishanttotla if you just read the symptoms described in moby/moby#36527, would you say that falls within the case you describe here ?

[2018-03-13 19:33] cyli commented on #2548
In memory:  https://github.com/docker/swarmkit/blob/master/manager/state/raft/raft.go#L106
On disk:  in snapshots: https://github.com/docker/swarmkit/blob/master/api/snapshot.proto#L30, and on WALs, they'd be raft conf entry changes

In memory:  https://github.com/docker/swarmkit/blob/master/manager/state/store/nodes.go
On disk: in snapshot: https://github.com/docker/swarmkit/blob/master/api/snaps

[2018-03-13 21:20] prianna commented on #2554
I'm seeing something that might be related to this. A service was removed, but the task was orphaned, and is lingering in the task list. Is that expected behavior?

For example:
[code]

This state persists despite removing the container on the node this task was running on.

[2018-03-13 21:46] prianna commented on #2555
Originally posted this in the wrong issue. Apologies.

I'm seeing something that might be related to this. A service was removed, but the task was orphaned, and is lingering in the task list. It seems that an [assumption made in task_reaper.go](https://github.com/seemethere/swarmkit/blob/bump_v17.12-cherry-pick-2473/manager/orchestrator/taskreaper/task_reaper.go#L143) does not always hold. Based o